Sample_Project examples/Group By Property.json
[{"id":"a269852b.8beed8","type":"tab","label":"Group By Property","disabled":false,"info":"Group objects by metadata property"},{"id":"55eab72a.3c9ef8","type":"inject","z":"a269852b.8beed8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":141.1041717529297,"y":342.3541564941406,"wires":[["9310df9e.c04cc"]]},{"id":"9310df9e.c04cc","type":"function","z":"a269852b.8beed8","name":"MAIN INPUTS","func":"// INPUTS\n\nteamspace = \"***\";  // make sure you have permissions to acces this teamspace\nmodelID = \"***\";    // make sure you have permissions to acces this model or federation\n\n\n// ignore the rest\n\ntry{\n    flow.set(\"teamspace\", teamspace);\n}catch(error){\n    node.error(\"Missing teamspace\", msg);\n    return;\n}\ntry{\n    flow.set(\"modelID\", modelID);\n}catch(error){\n    node.error(\"Missing modelID\", msg);\n    return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":173.82066345214844,"y":184.42135620117188,"wires":[["8144785b.b61fd8"]]},{"id":"c8b9d4bc.2f6cf","type":"http request","z":"a269852b.8beed8","name":"","method":"POST","ret":"obj","url":"{{{topic}}}","tls":"","x":473.60418701171875,"y":164.85415649414062,"wires":[["dd3fd93d.33465"]]},{"id":"dd3fd93d.33465","type":"function","z":"a269852b.8beed8","name":"cookie","func":"var cookies = msg.responseCookies;\n\ntry{\n    cookies[\"connect.sid\"];\n}catch(error){\n    node.error(\"Invalid username or password\", msg);\n    return;\n}\n\nmsg.headers = {\n \"content-type\":\"application/json\",\n \"Cookie\": \"connect.sid=\" + cookies[\"connect.sid\"][\"value\"]\n};\n\nflow.set(\"cookie\",msg.headers[\"Cookie\"]);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":476.15985107421875,"y":216.6060791015625,"wires":[["77d50f01.c38678","33581519.ff6d62","5358de36.3fc4c"]]},{"id":"8144785b.b61fd8","type":"function","z":"a269852b.8beed8","name":"header","func":"try{\n    test = global.get(\"username\")[0];\n}catch(error){\n    node.error(\"Login error - login at http://localhost:1880/ui/#/0\", msg);\n    return;\n}\ntry{\n    test = global.get(\"password\")[0];\n}catch(error){\n    node.error(\"Login error - login at http://localhost:1880/ui/#/0\", msg);\n    return;\n}\n\n\nmsg.payload = {\n \"username\": global.get(\"username\"), \n \"password\": global.get(\"password\")\n};\n\nmsg.topic = \"https://api1.www.3drepo.io/api/login\";\n\nmsg.headers = {'content-type':'application/json'};\n\nreturn msg;","outputs":1,"noerr":0,"x":475.5644226074219,"y":115.9920425415039,"wires":[["c8b9d4bc.2f6cf"]]},{"id":"477f2d6.ee2c654","type":"comment","z":"a269852b.8beed8","name":"login","info":"","x":477.47576904296875,"y":69.06598663330078,"wires":[]},{"id":"567b1082.65c868","type":"function","z":"a269852b.8beed8","name":"API call","func":"cookie = flow.get(\"cookie\");\nvar calls = [];\n\nmsg.headers = {\n    \"content-type\": \"application/json\",\n    \"Cookie\": cookie\n};\n\nif(msg.inputs.allRev){\n    try{\n        var test = flow.get(\"revisions\").length;\n    }catch(error){\n        node.error(\"Missing revisions\", msg);\n        return;\n    }\n    for (var i = 0; i < flow.get(\"revisions\").length; i++) {\n        for (var prop in msg.inputs.filter) {\n            calls.push(\"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/revision/\" + flow.get(\"revisions\")[i]._id + \"/meta/findObjsWith/\" + prop + \".json\");\n        }\n    }\n}else{\n    for (var prop in msg.inputs.filter) {\n        calls.push(\"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/revision/master/head/meta/findObjsWith/\" + prop + \".json\");\n    }\n}\n\nmsg.payload = calls;\n\nreturn msg;","outputs":"1","noerr":0,"x":769.8542175292969,"y":148.60413360595703,"wires":[["cbc586e3.90cb2"]]},{"id":"cbc586e3.90cb2","type":"split","z":"a269852b.8beed8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":773.9993591308594,"y":196.77680206298828,"wires":[["b5fb1d74.c1d0f8"]]},{"id":"b5fb1d74.c1d0f8","type":"http request","z":"a269852b.8beed8","name":"","method":"GET","ret":"obj","url":"{{{payload}}}","tls":"","x":766.5514831542969,"y":248.74224090576172,"wires":[["59ffbdc2.4790e4"]]},{"id":"59ffbdc2.4790e4","type":"join","z":"a269852b.8beed8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","x":770.2581481933594,"y":297.12520599365234,"wires":[["2f29eefd.d96352"]]},{"id":"e9846eeb.2d5258","type":"function","z":"a269852b.8beed8","name":"merge","func":"if(msg.inputs.allRev){\n    revisions = flow.get(\"revisions\");\n    merged = [];\n    \n    // partition API call results by revision\n    var rev = []\n    while (msg.payload.length > 0) {\n        rev.push(msg.payload.splice(0, Object.keys(msg.inputs.filter).length)); // this works\n    }\n\n    // get meta GUIDs, IFC GUIDs\n    for (var i = 0; i < rev.length; i++) {\n        merged[i] = [];\n        for (var j in rev[i][0][\"data\"]) {      // IfcGUID\n            for (var l = 1; l < rev[i].length; l++) {       // loop through filter\n                var property = Object.keys(msg.inputs.filter)[l];\n                var filter = msg.inputs.filter[Object.keys(msg.inputs.filter)[l]];\n                for (var k in rev[i][l][\"data\"]) {\n                    // if (rev[i][1][\"data\"][j] !== undefined && rev[i][0][\"data\"][j][\"_id\"] === rev[i][1][\"data\"][k][\"_id\"]) {\n                    if (rev[i][0][\"data\"][j][\"_id\"] === rev[i][l][\"data\"][k][\"_id\"]) {      // if meta IDs match create filtered object\n                        o = {};\n                        o.metaID = rev[i][0][\"data\"][j][\"_id\"];\n                        o.IFCGUID = rev[i][0][\"data\"][j][\"metadata\"][\"value\"];\n                        o.property = property;\n                        o.value = rev[i][l][\"data\"][k][\"metadata\"][\"value\"];\n                        o.timestamp = Date.parse(revisions[i].timestamp);\n                        o.parents = rev[i][0][\"data\"][j][\"parents\"];\n                        o.parents = rev[i][l][\"data\"][k][\"parents\"];        // ???\n                        merged[i].push(o)\n                    }\n                }\n            }\n        }\n    }\n    msg.payload = merged;\n    return msg;\n}else{\n    try{\n        var timestamp = Date.parse(flow.get(\"revisions\")[0].timestamp);\n    }catch(error){\n        node.error(\"Missing revisions\", msg);\n    return;\n    }\n    \n    merged = [];\n    \n    // partition API call results by revision\n    var rev = []\n    while (msg.payload.length > 0) {\n        rev.push(msg.payload.splice(0, Object.keys(msg.inputs.filter).length)); // this works\n    }\n    // node.send({payload:rev})\n    // get meta GUIDs, IFC GUIDs\n    for (var i = 0; i < rev.length; i++) {\n        merged[i] = [];\n        for (var j in rev[i][0][\"data\"]) {      // IfcGUID\n            for (var l = 1; l < rev[i].length; l++) {       // loop through filtered\n                var property = Object.keys(msg.inputs.filter)[l];\n                var filter = msg.inputs.filter[Object.keys(msg.inputs.filter)[l]];\n                for (var k in rev[i][l][\"data\"]) {\n                    var value = rev[i][l][\"data\"][k][\"metadata\"][\"value\"];\n                    \n                    // if (rev[i][1][\"data\"][j] !== undefined && rev[i][0][\"data\"][j][\"_id\"] === rev[i][1][\"data\"][k][\"_id\"]) {\n                    if (rev[i][0][\"data\"][j][\"_id\"] === rev[i][l][\"data\"][k][\"_id\"]) {      // if meta IDs match create filtered object\n                        \n                        if (filter.length === 0){\n                            o = {};\n                            o.metaID = rev[i][0][\"data\"][j][\"_id\"];\n                            o.IFCGUID = rev[i][0][\"data\"][j][\"metadata\"][\"value\"];\n                            o.property = property;\n                            o.value = value;\n                            o.timestamp = timestamp;\n                            o.parents = rev[i][0][\"data\"][j][\"parents\"];\n                            o.parents = rev[i][l][\"data\"][k][\"parents\"];        // ???\n                            merged[i].push(o)\n                        }else{\n                            if(filter[0] === true && value.search(filter[1]) > -1){\n                                o = {};\n                                o.metaID = rev[i][0][\"data\"][j][\"_id\"];\n                                o.IFCGUID = rev[i][0][\"data\"][j][\"metadata\"][\"value\"];\n                                o.property = property;\n                                o.value = value;\n                                o.timestamp = timestamp;\n                                o.parents = rev[i][0][\"data\"][j][\"parents\"];\n                                o.parents = rev[i][l][\"data\"][k][\"parents\"];        // ???\n                                merged[i].push(o);\n                            }else{\n                                // node.send({payload:value})\n                                for(var m=1; m<filter.length; m++){\n                                    if(filter[m] === value){\n                                    o = {};\n                                    o.metaID = rev[i][0][\"data\"][j][\"_id\"];\n                                    o.IFCGUID = rev[i][0][\"data\"][j][\"metadata\"][\"value\"];\n                                    o.property = property;\n                                    o.value = value;\n                                    o.timestamp = timestamp;\n                                    o.parents = rev[i][0][\"data\"][j][\"parents\"];\n                                    o.parents = rev[i][l][\"data\"][k][\"parents\"];        // ???\n                                    merged[i].push(o);\n                                    }\n                                }\n                            }\n                        }\n                    }\n                }\n            }\n        }\n    }\n    msg.payload = merged;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":772.3920288085938,"y":396.7420349121094,"wires":[["d3760e06.7354a8","ed376851.999708","bed7d7b2.5040b"]]},{"id":"b10ee5f3.a8661","type":"comment","z":"a269852b.8beed8","name":"filter","info":"keep Ifc GUID always as first item","x":765.4098205566406,"y":57.493019104003906,"wires":[]},{"id":"2f29eefd.d96352","type":"function","z":"a269852b.8beed8","name":"if fed (filters)","func":"var o = [];\n\nfor (var i=0; i < msg.payload.length; i++) {\n    if (msg.payload[i] !== undefined) {\n        if (msg.payload[i].subModels !== undefined) {\n            var obj = {};\n            var temp = [];\n            for (var j = 0; j < msg.payload[i].subModels.length; j++) {\n                for (var k = 0; k < msg.payload[i].subModels[j].data.length; k++) {\n                    // merge data arrays as per API calls \n                    temp.push(msg.payload[i].subModels[j].data[k])\n                }\n            }\n            obj.data = temp;\n            o.push(obj);\n        } else {\n            return msg;\n        }\n    }\n}\n\nmsg.payload = o;\n\nreturn msg","outputs":1,"noerr":0,"x":765.5489196777344,"y":346.6596374511719,"wires":[["e9846eeb.2d5258"]]},{"id":"77d50f01.c38678","type":"function","z":"a269852b.8beed8","name":"INPUTS","func":"// INPUTS:\n\nfilter = {\n    // IfcGUID is a default value, keep always as first item. Use Item:GUID for models uploaded with Navis plugin\n    \"IFC%20GUID\": [], \n    // add custom filters below\n    \"Zone%20Number\": []\n}\n\nallRevisions = false;\n\n\n// ignore the rest\n\nmsg.inputs = {};\nmsg.inputs.filter = filter;\nmsg.inputs.allRev = allRevisions;\n\nreturn msg;","outputs":1,"noerr":0,"x":760.3727722167969,"y":104.12268829345703,"wires":[["567b1082.65c868"]]},{"id":"cbe26fab.6c44","type":"comment","z":"a269852b.8beed8","name":"group by value","info":"set property in \"filter\"\ninput from \"filter\" proto-node\noutput to \"create group\"","x":1104.8541259765625,"y":56.10413360595703,"wires":[]},{"id":"d3760e06.7354a8","type":"function","z":"a269852b.8beed8","name":"group by property value","func":"var group = {};\n\nfor(var i=0; i<msg.payload.length; i++){\n    for(var j=0; j<msg.payload[i].length; j++){\n        var prop = String(msg.payload[i][j].value);\n        if(!group.hasOwnProperty(prop)){\n            group[prop] = [];\n        }\n        group[prop] = group[prop].concat(msg.payload[i][j].parents);\n    }\n}\n\nmsg.payload = group;\n\nreturn msg;","outputs":1,"noerr":0,"x":1099.8541259765625,"y":101.1874771118164,"wires":[["983ead85.d7aa5"]]},{"id":"983ead85.d7aa5","type":"split","z":"a269852b.8beed8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":1114.8541259765625,"y":154.72916412353516,"wires":[["d091a91a.de00e"]]},{"id":"f8d00090.d986a8","type":"http request","z":"a269852b.8beed8","name":"","method":"POST","ret":"obj","url":"{{{topic}}}","tls":"","x":1094.8541259765625,"y":458.6041564941406,"wires":[[]]},{"id":"93a362d0.3faa88","type":"function","z":"a269852b.8beed8","name":"group API call","func":"var cookie = flow.get(\"cookie\");\n\nmsg.headers = {\n \"content-type\":\"application/json\",\n \"Cookie\": cookie\n};\n\nmsg.topic = \"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/groups\";\n\nvar group = {};\ngroup.name = msg.inputs.groupName ;\ngroup.description = msg.inputs.desc;\ngroup.author = global.get(\"username\"); \ngroup.createdAt = Date.now();\ngroup.color = msg.inputs.colour;\ngroup.objects = msg.payload;\n\nmsg.payload = group;\n\nreturn msg;","outputs":1,"noerr":0,"x":1093.5567626953125,"y":403.7953796386719,"wires":[["f8d00090.d986a8"]]},{"id":"1f8d8d56.8d05d3","type":"function","z":"a269852b.8beed8","name":"shared IDs","func":"function getKeyByValue(object, value) {\n    return Object.keys(object).find(key => object[key] === value);\n}\n\nvar sharedIDs = [];\nIDmap = flow.get(\"IDmap\");\ntry{\n    var test = IDmap.length;\n}catch(error){\n    node.error(\"Missing ID map\", msg);\n    return;\n}\n\nif (IDmap !== undefined) {\n    if (IDmap.subModels !== undefined) {        // if federation\n        for (var i = 0; i < msg.payload.length; i++) {\n            for (var j = 0; j < IDmap.subModels.length; j++) {\n                var key = getKeyByValue(IDmap.subModels[j].idMap, msg.payload[i]);\n                if (key !== undefined) {\n                    sharedIDs.push(msg.payload[i]);\n                    break;\n                }\n            }\n        }\n    } else {\n        for (var i = 0; i < msg.payload.length; i++) {\n            var key = getKeyByValue(IDmap.idMap, msg.payload[i]);\n            sharedIDs.push(msg.payload[i]);\n        }\n    }\n}\n\nmsg.payload = [{\n    \"account\": flow.get(\"teamspace\"),\n    \"model\": flow.get(\"modelID\"),\n    \"shared_ids\": sharedIDs,\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":1099.6558227539062,"y":344.8487854003906,"wires":[["93a362d0.3faa88"]]},{"id":"240c27ad.17d3a","type":"comment","z":"a269852b.8beed8","name":"create group","info":"","x":1096.3642272949219,"y":244.05721282958984,"wires":[]},{"id":"d091a91a.de00e","type":"function","z":"a269852b.8beed8","name":"INPUTS","func":"// INPUTS\n\ngroupName =  (msg.topic) ? msg.topic : \"Group\";\ndescription = msg.payload.length + \" from Node-RED\";\ncolour = [parseInt(Math.random()*255),parseInt(Math.random()*255),parseInt(Math.random()*255)];\n\n\n// ignore the rest\n\nmsg.inputs = {};\nmsg.inputs.groupName = groupName;\nmsg.inputs.desc = description;\nmsg.inputs.colour = colour;\n\nreturn msg;","outputs":1,"noerr":0,"x":1094.3778991699219,"y":298.4598617553711,"wires":[["1f8d8d56.8d05d3"]]},{"id":"33581519.ff6d62","type":"function","z":"a269852b.8beed8","name":"revisions API","func":"cookie = flow.get(\"cookie\");\n\nmsg.headers = {\n \"content-type\":\"application/json\",\n \"Cookie\": cookie\n};\n\nmsg.payload = \"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/\" + \"revisions.json\"\n\nreturn msg;","outputs":1,"noerr":0,"x":471.10414695739746,"y":354.8542289733887,"wires":[["d5734695.02a428"]]},{"id":"d5734695.02a428","type":"http request","z":"a269852b.8beed8","name":"","method":"GET","ret":"obj","url":"{{{payload}}}","tls":"","x":471.09374046325684,"y":404.3333787918091,"wires":[["4eade4a7.33839c"]]},{"id":"4eade4a7.33839c","type":"function","z":"a269852b.8beed8","name":"OUTPUTS","func":"// all revisions\n\nflow.set(\"revisions\", msg.payload);\n\nreturn {payload:\"\"};\n\n\n// uncomment and specify subset of revisions below\n\n// flow.set(\"revisions\", msg.payload.slice(0,10));\n","outputs":1,"noerr":0,"x":482.1006832122803,"y":453.0764627456665,"wires":[["32e08cd1.27789c"]]},{"id":"b329025d.d32b5","type":"comment","z":"a269852b.8beed8","name":"revisions","info":"get all revisions of a model\n\nto choose only subset of revisions use:\nmsg.payload.slice(0,3)\n\nplace after login","x":473.35414695739746,"y":308.3299217224121,"wires":[]},{"id":"32e08cd1.27789c","type":"function","z":"a269852b.8beed8","name":"ID map call","func":"cookie = flow.get(\"cookie\");\n\ntry{\n    revID = flow.get(\"revisions\")[0]._id;\n}catch(error){\n    node.error(\"Missing revisions\", msg);\n    return;\n}\n\nmsg.headers = {\n \"content-type\":\"application/json\",\n \"Cookie\": cookie\n};\n\nmsg.payload = \"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/revision/\" + revID + \"/idmap.json\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":479.85414695739746,"y":592.3542594909668,"wires":[["afe0426c.5a2a58"]]},{"id":"afe0426c.5a2a58","type":"http request","z":"a269852b.8beed8","name":"","method":"GET","ret":"obj","url":"{{{payload}}}","tls":"","x":480.1275634765625,"y":645.8854370117188,"wires":[["f6c152b3.b8f9c"]]},{"id":"584b081d.2f6b28","type":"comment","z":"a269852b.8beed8","name":"ID map","info":"","x":476.76068115234375,"y":546.5076599121094,"wires":[]},{"id":"f6c152b3.b8f9c","type":"function","z":"a269852b.8beed8","name":"set ID map","func":"flow.set(\"IDmap\", msg.payload);\n\nreturn {payload:\"\"};","outputs":1,"noerr":0,"x":475.51068115234375,"y":700.1741943359375,"wires":[[]]},{"id":"8ae5005e.78a5","type":"comment","z":"a269852b.8beed8","name":"how to","info":"log in at http://localhost:1880/ui/#/0 or http://yourVPS:1880/ui/#/0\nset your teamspace and model ID of Lego_House_Federation in MAIN INPUTS\ndeploy\nopen or reload Lego_House_Federation in 3D Repo, see the results in Groups card\nopen dashboard at http://localhost:1880/ui/#/1 to see stats\nchange property in filter INPUTS to create different groups","x":152.2083282470703,"y":89.3124771118164,"wires":[]},{"id":"2e878a09.442a06","type":"ui_text_input","z":"a269852b.8beed8","name":"","label":"Username","group":"edcac425.31dcc8","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":162.3542022705078,"y":529.8541946411133,"wires":[["1f43108e.58de87"]]},{"id":"51ae58c2.614828","type":"ui_text_input","z":"a269852b.8beed8","name":"","label":"Password","group":"edcac425.31dcc8","order":2,"width":0,"height":0,"passthru":false,"mode":"password","delay":300,"topic":"","x":161.3818817138672,"y":616.2474670410156,"wires":[["2a34548a.0b3e1c"]]},{"id":"1f43108e.58de87","type":"function","z":"a269852b.8beed8","name":"username","func":"global.set(\"username\",msg.payload);","outputs":1,"noerr":0,"x":166.1041717529297,"y":573.8863143920898,"wires":[[]]},{"id":"2a34548a.0b3e1c","type":"function","z":"a269852b.8beed8","name":"password","func":"global.set(\"password\",msg.payload);\n\n","outputs":1,"noerr":0,"x":159.4418487548828,"y":657.9054565429688,"wires":[[]]},{"id":"5219d189.72bf4","type":"comment","z":"a269852b.8beed8","name":"login details","info":"input your login details in dashboard at\n\nhttp://localhost:1880/ui/#/0\n\nset as global variable hence use only once for multiple flows","x":158.02085876464844,"y":479.48380279541016,"wires":[]},{"id":"57cad652.738448","type":"ui_chart","z":"a269852b.8beed8","name":"count by meta","group":"15acd3f0.691d0c","order":2,"width":0,"height":0,"label":"By IFC Type","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":987.499959309896,"y":636.2500245836046,"wires":[[],[]]},{"id":"e949f7a.5446a08","type":"comment","z":"a269852b.8beed8","name":"counter","info":"takes filter output, one or multiple revisions\n\nreturns quantities by metadata property","x":769.066853841146,"y":495.97579362657336,"wires":[]},{"id":"afc8d57c.933b18","type":"function","z":"a269852b.8beed8","name":"count by meta","func":"function sort(object){\n    if (typeof object != \"object\" || object instanceof Array) // Not to sort the array\n        return object;\n    var keys = Object.keys(object);\n    keys.sort();\n    var newObject = {};\n    for (var i = 0; i < keys.length; i++){\n        newObject[keys[i]] = sort(object[keys[i]])\n    }\n    return newObject;\n}\n\nif(msg.inputs.splitByRevision){\n    var allCounters = []\n    for(var i=0; i<msg.payload.length; i++){\n        var counter = {};\n        for(var j=0; j<msg.payload[i].length; j++){\n            var prop = String(msg.payload[i][j].value);\n            if(counter.hasOwnProperty(prop)){\n                counter[prop] += 1;\n            }else{\n                counter[prop] = 1;\n            }\n        }\n        sorted = sort(counter);\n        allCounters.push(counter);\n    }\n    msg.payload = allCounters;\n}else{\n    var counter = {};\n    for(var i=0; i<msg.payload.length; i++){\n        for(var j=0; j<msg.payload[i].length; j++){\n            var prop = String(msg.payload[i][j].value);\n            if(counter.hasOwnProperty(prop)){\n                counter[prop] += 1;\n            }else{\n                counter[prop] = 1;\n            }\n        }\n    }\n    sorted = sort(counter);\n    msg.payload = [sorted];\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":763.1780598958335,"y":585.8925416734484,"wires":[["e2e4d509.fbf318"]]},{"id":"e2e4d509.fbf318","type":"function","z":"a269852b.8beed8","name":"format","func":"var data = [];\nvar labels = [];\nvar series = [];\nvar revisions = flow.get(\"revisions\");\nvar m = {};\n\nif(msg.inputs.splitByRevision){\n    for(var i=0; i<msg.payload.length; i++){\n        if(revisions[i] !== undefined){\n            if(revisions[i].tag !== undefined){\n                series.push(revisions[i].tag);\n            }else{\n                series.push(String(String(revisions[i].timestamp).split(\".\")[0]).replace(\"T\", \" \"));\n            }\n        }\n        for(var j=0; j<Object.keys(msg.payload[i]).length; j++){\n            if(labels.indexOf(Object.keys(msg.payload[i])[j]) === -1){\n                labels.push(Object.keys(msg.payload[i])[j]);\n            }\n        }\n    }\n    for(var i=0; i<msg.payload.length; i++){\n        temp = [];\n        for(var k=0; k<labels.length; k++){\n            if(msg.payload[i].hasOwnProperty(labels[k])){\n                temp.push(msg.payload[i][labels[k]]);\n            }else{\n                temp.push(0)\n            }\n            \n        }\n        data.push(temp);\n    }\n    m.labels = labels;\n    m.series = series;\n    m.data = data;\n    msg.payload = [m];\n    \n}else{\n    for(var i=0; i<msg.payload.length; i++){\n        for(var j=0; j<Object.keys(msg.payload[i]).length; j++){\n            labels.push(Object.keys(msg.payload[i])[j]);\n            data.push(msg.payload[i][Object.keys(msg.payload[i])[j]]);\n        }\n    }\n    m.labels = labels;\n    m.series = [\"Count\"];\n    m.data = [data];\n    msg.payload = [m];\n}\n\nreturn msg;\n\n\n","outputs":"1","noerr":0,"x":770.164265950521,"y":634.2258241441515,"wires":[["57cad652.738448"]]},{"id":"ed376851.999708","type":"function","z":"a269852b.8beed8","name":"INPUTS","func":"// INPUTS\n\nsplitByRevision = false;\n\n\n// ignore the rest\n\nmsg.inputs = {};\nmsg.inputs.splitByRevision = splitByRevision;\n\nreturn msg;","outputs":1,"noerr":0,"x":766.64111328125,"y":535.3170776367188,"wires":[["afc8d57c.933b18"]]},{"id":"bed7d7b2.5040b","type":"function","z":"a269852b.8beed8","name":"filter property","func":"a = Object.keys(msg.inputs.filter);\na.shift();\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":776.249959309896,"y":761.2500245836046,"wires":[["13891541.6c5463"]]},{"id":"13891541.6c5463","type":"ui_template","z":"a269852b.8beed8","group":"43bd3b3e.b81904","name":"properties","order":4,"width":"5","height":"3","format":"<table style=\"width:100%\">\n        <tr ng-repeat=\"x in msg.payload\">\n            <td><b>{{x}}</b></td>\n        </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":953.749959309896,"y":760.2500856187609,"wires":[[]]},{"id":"6e6fe385.82612c","type":"comment","z":"a269852b.8beed8","name":"display filtered","info":"","x":777.8694661458335,"y":720.5565660264757,"wires":[]},{"id":"f2d22611.0860a8","type":"function","z":"a269852b.8beed8","name":"teamspace","func":"msg.payload = flow.get(\"teamspace\");\n\nreturn msg;","outputs":1,"noerr":0,"x":352.5,"y":830,"wires":[["92d94b93.71cd9"]]},{"id":"d4355615.858ae","type":"function","z":"a269852b.8beed8","name":"revisions","func":"revisions = flow.get(\"revisions\");\ntags = [];\n\ntry{\n    test = revisions.length;\n}catch(error){\n    node.error(\"Missing revisions\", msg);\n    return;\n}\n\nfor(var i=0; i<revisions.length; i++){\n    if(revisions[i] !== undefined){\n        if(revisions[i].tag !== undefined){\n            tags.push(revisions[i].tag);\n        }else{\n            tags.push(String(String(revisions[i].timestamp).split(\".\")[0]).replace(\"T\", \" \"));\n        }\n    }\n}\n\nmsg.payload = tags;\n\nreturn msg;","outputs":1,"noerr":0,"x":353.6845703125,"y":879.774169921875,"wires":[["cfc2da47.7fffd8"]]},{"id":"f72bd036.f63538","type":"function","z":"a269852b.8beed8","name":"model settings","func":"cookie = flow.get(\"cookie\");\n\nmsg.headers = {\n    \"content-type\":\"application/json\",\n    \"Cookie\": cookie\n};\n\nmsg.payload = \"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \".json\";\n\nreturn msg;","outputs":1,"noerr":0,"x":168.75018692016602,"y":878.7521376609802,"wires":[["2b319d40.9a740a"]]},{"id":"2b319d40.9a740a","type":"http request","z":"a269852b.8beed8","name":"","method":"GET","ret":"obj","url":"{{{payload}}}","tls":"","x":168.745849609375,"y":932.4435119628906,"wires":[["5d5e5e22.2ed86"]]},{"id":"5d5e5e22.2ed86","type":"function","z":"a269852b.8beed8","name":"name","func":"if(msg.payload.name){\n    msg.name = msg.payload.name;\n}else{\n    msg.name = \"NOT AUTHORISED\";\n}\n\nif(msg.payload.federate === true){\n    msg.type = \"federation: \";\n}else{\n    msg.type = \"model: \";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":352.4937744140625,"y":927.4999694824219,"wires":[["ee9e59.3c8f99a8"]]},{"id":"5358de36.3fc4c","type":"function","z":"a269852b.8beed8","name":"---","func":"return msg;","outputs":1,"noerr":0,"x":136.25,"y":822.5,"wires":[["f72bd036.f63538","f2d22611.0860a8","d4355615.858ae"]]},{"id":"ee9e59.3c8f99a8","type":"ui_text","z":"a269852b.8beed8","group":"43bd3b3e.b81904","order":1,"width":0,"height":0,"name":"model","label":"{{msg.type}}","format":"{{msg.name}}","layout":"row-left","x":538.1293144226074,"y":830.8539800643921,"wires":[]},{"id":"92d94b93.71cd9","type":"ui_text","z":"a269852b.8beed8","group":"43bd3b3e.b81904","order":2,"width":0,"height":0,"name":"","label":"teamspace:  ","format":"{{msg.payload}}","layout":"row-left","x":536.9444580078125,"y":884.8297424316406,"wires":[]},{"id":"4004d419.315504","type":"ui_text","z":"a269852b.8beed8","group":"43bd3b3e.b81904","order":3,"width":0,"height":0,"name":"","label":"properties:  ","format":"","layout":"row-left","x":544.9444580078125,"y":978.8297424316409,"wires":[]},{"id":"e587a1ca.7d481","type":"comment","z":"a269852b.8beed8","name":"details","info":"","x":336.84429931640625,"y":766.9082031249998,"wires":[]},{"id":"cfc2da47.7fffd8","type":"ui_template","z":"a269852b.8beed8","group":"43bd3b3e.b81904","name":"revisions","order":7,"width":"5","height":"3","format":"<table style=\"width:100%\">\n        <tr ng-repeat=\"x in msg.payload\">\n            <td><b>{{x}}</b></td>\n        </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":534.2999267578125,"y":927.0972900390623,"wires":[[]]},{"id":"edcac425.31dcc8","type":"ui_group","z":"","name":"Log In","tab":"6cbcda7f.66c274","order":1,"disp":true,"width":"6","collapse":false},{"id":"15acd3f0.691d0c","type":"ui_group","z":"","name":"Results","tab":"3444c08e.6896b","order":2,"disp":true,"width":"18"},{"id":"43bd3b3e.b81904","type":"ui_group","z":"","name":"Details","tab":"3444c08e.6896b","order":1,"disp":true,"width":"5"},{"id":"6cbcda7f.66c274","type":"ui_tab","z":"","name":"Log In","icon":"dashboard","order":1},{"id":"3444c08e.6896b","type":"ui_tab","z":"","name":"Stats","icon":"dashboard","order":2}]