Sample_Project examples/Group Sub-models.json
[{"id":"6ffb42e4.bf7b2c","type":"tab","label":"Group Sub-models","disabled":false,"info":"Groups sub-models in federation for colour overrides"},{"id":"bc7a3df.80ce1c","type":"inject","z":"6ffb42e4.bf7b2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":137.3541717529297,"y":354.8541564941406,"wires":[["d2843e24.3539c"]]},{"id":"d2843e24.3539c","type":"function","z":"6ffb42e4.bf7b2c","name":"MAIN INPUTS","func":"// INPUTS\n\nteamspace = \"***\";  // make sure you have permissions to acces this teamspace\nmodelID = \"***\";    // make sure you have permissions to acces this model or federation\nkey = \"***\"    // generate your API key in 3drepo.io Profile section\n\n// ignore the rest\n\ntry{\n flow.set(\"teamspace\", teamspace);\n}catch(error){\n node.error(\"Missing teamspace\", msg);\n return;\n}\ntry{\n flow.set(\"modelID\", modelID);\n}catch(error){\n node.error(\"Missing modelID\", msg);\n return;\n}\ntry{\n    flow.set(\"key\", key);\n}catch(error){\n    node.error(\"Missing API key\", msg);\n    return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":170.07066345214844,"y":196.92135620117188,"wires":[["d273cecc.f6f7b","19a07b35.fa4625"]]},{"id":"699edbf4.bc8324","type":"comment","z":"6ffb42e4.bf7b2c","name":"how to","info":"set your teamspace and model ID of Lego_House_Federation in MAIN INPUTS\ndeploy\nopen or reload Lego_House_Federation in 3D Repo, see the results in Groups card","x":148.4583282470703,"y":101.8124771118164,"wires":[]},{"id":"8f344d8c.57a3b","type":"function","z":"6ffb42e4.bf7b2c","name":"set flow variables","func":"if(msg.payload.subModels){\n    flow.set(\"subModels\", msg.payload.subModels);\n}","outputs":1,"noerr":0,"x":496.8542175292969,"y":434.6041946411133,"wires":[[]]},{"id":"4e3da499.e89c2c","type":"http request","z":"6ffb42e4.bf7b2c","name":"","method":"GET","ret":"obj","url":"{{{payload}}}","tls":"","x":499.3561706542969,"y":385.79773712158203,"wires":[["8f344d8c.57a3b"]]},{"id":"6022e877.5a8838","type":"comment","z":"6ffb42e4.bf7b2c","name":"settings","info":"","x":499.2078857421875,"y":291.29456329345703,"wires":[]},{"id":"6eeefb29.80b054","type":"function","z":"6ffb42e4.bf7b2c","name":"group by submodel","func":"var group = {};\nvar subModels = flow.get(\"subModels\")\n\ntry{\n    for(var i=0; i<msg.payload.subModels.length; i++){\n\n        for(var j=0; j<subModels.length; j++){\n            if(msg.payload.subModels[i].model === subModels[j].model){\n                var prop = subModels[j].name;\n                \n            }\n        }\n        if(!group.hasOwnProperty(prop)){\n            group[prop] = [];\n            \n        }\n        //  node.send({payload:Object.keys(msg.payload.subModels[0].idMap)[0]})\n        \n        for(var j=0; j<Object.keys(msg.payload.subModels[i].idMap).length; j++){\n            group[prop].push(msg.payload.subModels[i].idMap[Object.keys(msg.payload.subModels[i].idMap)[j]]);\n        }\n    }\n}catch(error){\n    node.error(\"This is not federation\", msg);\n    return;\n}\n\nmsg.payload = group;\n\nreturn msg;","outputs":1,"noerr":0,"x":824.8541717529297,"y":118.10414505004883,"wires":[["cd3a5988.1f60e8"]]},{"id":"cd3a5988.1f60e8","type":"split","z":"6ffb42e4.bf7b2c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":821.2500457763672,"y":173.56251907348633,"wires":[["ff509e80.86979"]]},{"id":"403027c8.897938","type":"comment","z":"6ffb42e4.bf7b2c","name":"group sub-models","info":"works for only federations\ninput from \"IDmap\" http request\noutput to \"create group\"","x":818.7500457763672,"y":68.56251907348633,"wires":[]},{"id":"d273cecc.f6f7b","type":"function","z":"6ffb42e4.bf7b2c","name":"ID map call","func":"msg.payload = \"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/revision/master/head/idmap.json?key=\" + flow.get(\"key\");\n\nreturn msg;\n","outputs":1,"noerr":0,"x":496.1006832122803,"y":98.34377861022949,"wires":[["66426634.00a9b8"]]},{"id":"66426634.00a9b8","type":"http request","z":"6ffb42e4.bf7b2c","name":"","method":"GET","ret":"obj","url":"{{{payload}}}","tls":"","x":496.3740997314453,"y":151.87495613098145,"wires":[["bbaf3a8f.de12a8"]]},{"id":"9a21c25c.863f8","type":"comment","z":"6ffb42e4.bf7b2c","name":"ID map","info":"","x":493.00721740722656,"y":52.49717903137207,"wires":[]},{"id":"bbaf3a8f.de12a8","type":"function","z":"6ffb42e4.bf7b2c","name":"set ID map","func":"flow.set(\"IDmap\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":491.75721740722656,"y":206.1637134552002,"wires":[["6eeefb29.80b054"]]},{"id":"f6916228.cc4d1","type":"http request","z":"6ffb42e4.bf7b2c","name":"","method":"POST","ret":"obj","url":"{{{topic}}}","tls":"","x":830.0173645019531,"y":482.0104341506958,"wires":[[]]},{"id":"3c23ceae.cb5e62","type":"function","z":"6ffb42e4.bf7b2c","name":"group API call","func":"msg.topic = \"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/groups?key=\" + flow.get(\"key\");\n\nvar group = {};\ngroup.name = msg.inputs.groupName ;\ngroup.description = msg.inputs.desc;\ngroup.author = global.get(\"username\"); \ngroup.createdAt = Date.now();\ngroup.color = msg.inputs.colour;\ngroup.objects = msg.payload;\n\nmsg.payload = group;\n\nreturn msg;","outputs":1,"noerr":0,"x":828.7200012207031,"y":427.20165729522705,"wires":[["f6916228.cc4d1"]]},{"id":"cda3aa0e.552408","type":"function","z":"6ffb42e4.bf7b2c","name":"shared IDs","func":"function getKeyByValue(object, value) {\n    return Object.keys(object).find(key => object[key] === value);\n}\n\nvar sharedIDs = [];\nIDmap = flow.get(\"IDmap\");\ntry{\n    var test = IDmap.length;\n}catch(error){\n    node.error(\"Missing ID map\", msg);\n    return;\n}\n\nif (IDmap !== undefined) {\n    if (IDmap.subModels.length !== 0) {        // if federation\n        for (var i = 0; i < msg.payload.length; i++) {\n            for (var j = 0; j < IDmap.subModels.length; j++) {\n                var key = getKeyByValue(IDmap.subModels[j].idMap, msg.payload[i]);\n                if (key !== undefined) {\n                    sharedIDs.push(msg.payload[i]);\n                    break;\n                }\n            }\n        }\n    } else {\n        for (var i = 0; i < msg.payload.length; i++) {\n            var key = getKeyByValue(IDmap.mainTree.idMap, msg.payload[i]);\n            sharedIDs.push(msg.payload[i]);\n        }\n    }\n}\n\nmsg.payload = [{\n    \"account\": flow.get(\"teamspace\"),\n    \"model\": flow.get(\"modelID\"),\n    \"shared_ids\": sharedIDs,\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":834.8190612792969,"y":368.2550630569458,"wires":[["3c23ceae.cb5e62"]]},{"id":"72b19f06.f055","type":"comment","z":"6ffb42e4.bf7b2c","name":"create group","info":"","x":831.5274658203125,"y":267.463490486145,"wires":[]},{"id":"ff509e80.86979","type":"function","z":"6ffb42e4.bf7b2c","name":"INPUTS","func":"// INPUTS\n\ngroupName =  (msg.topic) ? msg.topic : \"Group\";\ndescription = msg.payload.length + \" from Node-RED\";\ncolour = [parseInt(Math.random()*255),parseInt(Math.random()*255),parseInt(Math.random()*255)];\n\n\n// ignore the rest\n\nmsg.inputs = {};\nmsg.inputs.groupName = groupName;\nmsg.inputs.desc = description;\nmsg.inputs.colour = colour;\n\nreturn msg;","outputs":1,"noerr":0,"x":829.5411376953125,"y":321.86613941192627,"wires":[["cda3aa0e.552408"]]},{"id":"19a07b35.fa4625","type":"function","z":"6ffb42e4.bf7b2c","name":"model settings","func":"msg.payload = \"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \".json?key=\" + flow.get(\"key\");\n\nreturn msg;","outputs":1,"noerr":0,"x":487.0173568725586,"y":336.0104331970215,"wires":[["4e3da499.e89c2c"]]}]