Sample_Project examples/Issues Report.json
[{"id":"cb5a1d34.d0d3c","type":"tab","label":"Issues Report","disabled":false,"info":"Dashboard to track issues resolution progress"},{"id":"1e7c6180.e37e5e","type":"inject","z":"cb5a1d34.d0d3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":153.6041717529297,"y":343.6041564941406,"wires":[["97418a47.15ae88"]]},{"id":"97418a47.15ae88","type":"function","z":"cb5a1d34.d0d3c","name":"MAIN INPUTS","func":"// INPUTS\n\nteamspace = \"***\";  // make sure you have permissions to acces this teamspace\nmodelID = \"***\";    // make sure you have permissions to acces this model or federation\n\n\n// ignore the rest\n\ntry{\n    flow.set(\"teamspace\", teamspace);\n}catch(error){\n    node.error(\"Missing teamspace\", msg);\n    return;\n}\ntry{\n    flow.set(\"modelID\", modelID);\n}catch(error){\n    node.error(\"Missing modelID\", msg);\n    return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":186.32066345214844,"y":185.67135620117188,"wires":[["c8c69869.281f88"]]},{"id":"24f3ab59.729eb4","type":"http request","z":"cb5a1d34.d0d3c","name":"","method":"POST","ret":"obj","url":"{{{topic}}}","tls":"","x":486.10418701171875,"y":166.10415649414062,"wires":[["da864dea.cad6"]]},{"id":"da864dea.cad6","type":"function","z":"cb5a1d34.d0d3c","name":"cookie","func":"var cookies = msg.responseCookies;\n\ntry{\n    cookies[\"connect.sid\"];\n}catch(error){\n    node.error(\"Invalid username or password\", msg);\n    return;\n}\n\nmsg.headers = {\n \"content-type\":\"application/json\",\n \"Cookie\": \"connect.sid=\" + cookies[\"connect.sid\"][\"value\"]\n};\n\nflow.set(\"cookie\",msg.headers[\"Cookie\"]);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":488.65985107421875,"y":217.8560791015625,"wires":[["2be01a66.4d9856"]]},{"id":"c8c69869.281f88","type":"function","z":"cb5a1d34.d0d3c","name":"header","func":"try{\n    test = global.get(\"username\")[0];\n}catch(error){\n    node.error(\"Login error - login at http://localhost:1880/ui/#/0\", msg);\n    return;\n}\ntry{\n    test = global.get(\"password\")[0];\n}catch(error){\n    node.error(\"Login error - login at http://localhost:1880/ui/#/0\", msg);\n    return;\n}\n\n\nmsg.payload = {\n \"username\": global.get(\"username\"), \n \"password\": global.get(\"password\")\n};\n\nmsg.topic = \"https://api1.www.3drepo.io/api/login\";\n\nmsg.headers = {'content-type':'application/json'};\n\nreturn msg;","outputs":1,"noerr":0,"x":488.0644226074219,"y":117.2420425415039,"wires":[["24f3ab59.729eb4"]]},{"id":"ce567dfc.5e72e","type":"comment","z":"cb5a1d34.d0d3c","name":"login","info":"","x":489.97576904296875,"y":70.31598663330078,"wires":[]},{"id":"dac2f15b.1780f","type":"comment","z":"cb5a1d34.d0d3c","name":"how to","info":"log in at http://localhost:1880/ui/#/0 or http://yourVPS:1880/ui/#/0\nset your teamspace and model ID of Lego_House_Federation in MAIN INPUTS\ndeploy\ngo to http://localhost:1880/ui/#/1 or http://youtVPS:1880/ui/#/1 to see the results","x":164.7083282470703,"y":90.5624771118164,"wires":[]},{"id":"41170f9b.7fb1","type":"ui_text_input","z":"cb5a1d34.d0d3c","name":"","label":"Username","group":"a4d7e665.ec2268","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":174.8542022705078,"y":531.1041946411133,"wires":[["759cd829.6feaf8"]]},{"id":"b205b35b.6bbfd","type":"ui_text_input","z":"cb5a1d34.d0d3c","name":"","label":"Password","group":"a4d7e665.ec2268","order":2,"width":0,"height":0,"passthru":false,"mode":"password","delay":300,"topic":"","x":173.8818817138672,"y":617.4974670410156,"wires":[["7ac65aa7.9f57e4"]]},{"id":"759cd829.6feaf8","type":"function","z":"cb5a1d34.d0d3c","name":"username","func":"global.set(\"username\",msg.payload);","outputs":1,"noerr":0,"x":178.6041717529297,"y":575.1363143920898,"wires":[[]]},{"id":"7ac65aa7.9f57e4","type":"function","z":"cb5a1d34.d0d3c","name":"password","func":"global.set(\"password\",msg.payload);\n\n","outputs":1,"noerr":0,"x":171.9418487548828,"y":659.1554565429688,"wires":[[]]},{"id":"54adad65.682344","type":"comment","z":"cb5a1d34.d0d3c","name":"login details","info":"input your login details in dashboard at\n\nhttp://localhost:1880/ui/#/0\n\nset as global variable hence use only once for multiple flows","x":170.52085876464844,"y":480.73380279541016,"wires":[]},{"id":"d588c007.99da","type":"comment","z":"cb5a1d34.d0d3c","name":"get issues","info":"","x":752.2083740234375,"y":65.5624771118164,"wires":[]},{"id":"2be01a66.4d9856","type":"function","z":"cb5a1d34.d0d3c","name":"issues API","func":"cookie = flow.get(\"cookie\");\n\nmsg.headers = {\n \"content-type\":\"application/json\",\n \"Cookie\": cookie\n};\n\nmsg.payload = \"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/\" + \"issues.json\"\n\nreturn msg;","outputs":1,"noerr":0,"x":739.854248046875,"y":122.35414123535156,"wires":[["a199b872.d07548"]]},{"id":"a199b872.d07548","type":"http request","z":"cb5a1d34.d0d3c","name":"","method":"GET","ret":"obj","url":"{{{payload}}}","tls":"","x":749.8438415527344,"y":171.83329105377197,"wires":[["c338deb2.d1701"]]},{"id":"bbb06d71.c76c8","type":"comment","z":"cb5a1d34.d0d3c","name":"simple counter","info":"takes filter output, one or multiple revisions\n\nreturns quantities by metadata property","x":1035.9815673828125,"y":64.45372009277344,"wires":[]},{"id":"aef7df32.415a1","type":"function","z":"cb5a1d34.d0d3c","name":"format","func":"var data = [];\nvar labels = [];\nvar series = [];\nvar m = {};\n\nfor(var i=0; i<msg.payload.length; i++){\n    var keys = Object.keys(msg.payload[i]);\n    // keys.sort();\n    for(var j=0; j<keys.length; j++){\n        labels.push(msg.payload[i][keys[j]] + \" \" + keys[j]);\n        data.push(msg.payload[i][keys[j]]);\n    }\n}\n\nm.labels = labels;\nm.series = [\"Count\"];\nm.data = [data];\nmsg.payload = [m];\n\nreturn msg;","outputs":"1","noerr":0,"x":1043.86474609375,"y":235.7394561767578,"wires":[["13003b85.0c7cc4"]]},{"id":"44b85ba1.19dce4","type":"function","z":"cb5a1d34.d0d3c","name":"count by property","func":"function sort(object){\n    if (typeof object != \"object\" || object instanceof Array) // Not to sort the array\n        return object;\n    var keys = Object.keys(object);\n    keys.sort();\n    var newObject = {};\n    for (var i = 0; i < keys.length; i++){\n        newObject[keys[i]] = sort(object[keys[i]])\n    }\n    return newObject;\n}\n\ncounter = {\n    \"closed\": 0,\n    \"for approval\": 0,\n    \"in progress\": 0,\n    \"open\": 0\n};\n\nfor(var i=0; i<msg.payload.length; i++){\n    var prop = String(msg.payload[i][msg.inputs.property]);\n    if(counter.hasOwnProperty(prop)){\n        counter[prop] += 1;\n    }else{\n        counter[prop] = 1;\n    }\n}\n\n// sorted = sort(counter);\n// msg.payload = [sorted];\nmsg.payload = [counter];\n\nreturn msg;","outputs":1,"noerr":0,"x":1041.517333984375,"y":171.2394256591797,"wires":[["aef7df32.415a1"]]},{"id":"961a4a05.ab5c08","type":"function","z":"cb5a1d34.d0d3c","name":"INPUTS","func":"// INPUTS\n\nproperty = \"status\";\n\n\n// ignore the rest\n\nmsg.inputs = {};\nmsg.inputs.property = property;\n\nreturn msg;","outputs":1,"noerr":0,"x":1043.4608154296875,"y":116.93290710449219,"wires":[["44b85ba1.19dce4"]]},{"id":"13003b85.0c7cc4","type":"ui_chart","z":"cb5a1d34.d0d3c","name":"","group":"e28625cb.79b2b8","order":2,"width":"6","height":"4","label":"By Status","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"50","useOneColor":false,"colors":["#9b9b9b","#008000","#fdd842","#ca0000","#98df8a","#ff8000","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1221.3785400390625,"y":240.12835693359375,"wires":[[],[]]},{"id":"c338deb2.d1701","type":"function","z":"cb5a1d34.d0d3c","name":"in current","func":"// filter only issues from current model/federation\n\nresult = [];\n\nfor(var i=0; i<msg.payload.length; i++ ){\n    if(msg.payload[i].model === flow.get(\"modelID\")){\n        result.push(msg.payload[i]);\n    }\n}\n\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":743.9074096679688,"y":222.101806640625,"wires":[["961a4a05.ab5c08","71fe75a7.44931c","356ae426.093d5c","2e263a6b.bd59f6","3f991650.c9fc3a","ff8b99b8.65be18"]]},{"id":"63e3f591.f8da3c","type":"ui_text","z":"cb5a1d34.d0d3c","group":"96f2fad8.d16c18","order":2,"width":"0","height":"0","name":"# Overdue issues","label":"Number of overdue issues","format":"{{msg.payload.length}}","layout":"row-left","x":1250.70361328125,"y":672.0926513671875,"wires":[]},{"id":"71fe75a7.44931c","type":"function","z":"cb5a1d34.d0d3c","name":"by due date","func":"counter = {};\nvar before = [];\nvar after = [];\n\nfor(var i=0; i<msg.payload.length; i++){\n    if(msg.payload[i].status != \"closed\"){\n        var due = msg.payload[i].due_date;\n        if(due > Date.now() || msg.payload[i].due_date === undefined){\n            before.push(msg.payload[i])\n        }else{\n            after.push(msg.payload[i])\n        }\n    }\n}\n\nreturn [{payload:before}, {payload:after}];","outputs":2,"noerr":0,"x":1045.596923828125,"y":666.2101440429688,"wires":[["8b6d91db.09623"],["63e3f591.f8da3c","77b5199d.5b8688"]],"outputLabels":["before","after"]},{"id":"d61a065c.c2bad8","type":"comment","z":"cb5a1d34.d0d3c","name":"issues by due date","info":"","x":1053.7684326171875,"y":566.3333129882812,"wires":[]},{"id":"2e263a6b.bd59f6","type":"function","z":"cb5a1d34.d0d3c","name":"count by properties","func":"var assigned = flow.get(\"assigned\");\nvar priority = flow.get(\"priority\");\nvar priorityLabel = flow.get(\"priorityLabel\");\n\ncounter = {};\n\nfor(var i=0; i<msg.payload.length; i++){\n    if(msg.payload[i].status !== \"closed\"){\n        for(var j=0; j<assigned.length; j++){\n            for(var k=0; k<priority.length; k++){\n                var prop = String(priorityLabel[k] + \"_\" + assigned[j]);\n                if(!counter.hasOwnProperty(prop)){\n                    counter[prop] = 0;\n                }\n                if(msg.payload[i].assigned_roles[0] === assigned[j] && msg.payload[i].priority === priority[k]){\n                    counter[prop] += 1;\n                }\n            }\n        }\n    }\n}\n\nmsg.payload = counter;\n\nreturn msg;","outputs":1,"noerr":0,"x":533.0647583007812,"y":493.20367431640625,"wires":[["cf1a3d10.7376f"]]},{"id":"cf1a3d10.7376f","type":"function","z":"cb5a1d34.d0d3c","name":"sort & format","func":"var keys = Object.keys(msg.payload);\nvar assigned = flow.get(\"assigned\");\nvar m = {};\nvar data = [];\nvar dataFormated = [];\n\nkeys.sort();\n\nfor(var i in keys){\n    data.push(msg.payload[keys[i]])\n}\n\nfor(var i=0; i<data.length; i+=assigned.length){\n    dataFormated.push(data.slice(i,i+assigned.length));\n}\n\nassigned.pop();\nassigned.push(\"unassigned\");\n    \nm.labels = assigned;\nm.series = flow.get(\"priority\");\nm.data = dataFormated;\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":540.6861572265625,"y":547.2645263671875,"wires":[["aff89217.f8bf6"]]},{"id":"aff89217.f8bf6","type":"ui_chart","z":"cb5a1d34.d0d3c","name":"","group":"ea9cf76e.effd18","order":1,"width":"16","height":"4","label":"By Job & Priority","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#9b9b9b","#008000","#fdd842","#ca0000","#98df8a","#ff8000","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":762.7645874023438,"y":547.116455078125,"wires":[[],[]]},{"id":"1400ed54.df75d3","type":"comment","z":"cb5a1d34.d0d3c","name":"simple counter","info":"takes filter output, one or multiple revisions\n\nreturns quantities by metadata property","x":1048.3426513671875,"y":300.98155212402344,"wires":[]},{"id":"8c55f5d0.7a8a18","type":"function","z":"cb5a1d34.d0d3c","name":"format","func":"var data = [];\nvar labels = [];\nvar series = [];\nvar m = {};\n\nfor(var i=0; i<msg.payload.length; i++){\n    var keys = Object.keys(msg.payload[i]);\n    // keys.sort();\n    for(var j=0; j<keys.length; j++){\n        labels.push(msg.payload[i][keys[j]] + \" \" + keys[j]);\n        data.push(msg.payload[i][keys[j]]);\n    }\n}\n\nm.labels = labels;\nm.series = [\"Count\"];\nm.data = [data];\nmsg.payload = [m];\n\nreturn msg;","outputs":"1","noerr":0,"x":1056.225830078125,"y":472.2672882080078,"wires":[["582fe07f.8210a"]]},{"id":"1daa2aa2.d160b5","type":"function","z":"cb5a1d34.d0d3c","name":"count by property","func":"function sort(object){\n    if (typeof object != \"object\" || object instanceof Array) // Not to sort the array\n        return object;\n    var keys = Object.keys(object);\n    keys.sort();\n    var newObject = {};\n    for (var i = 0; i < keys.length; i++){\n        newObject[keys[i]] = sort(object[keys[i]])\n    }\n    return newObject;\n}\n\ncounter = {\n    \"none\": 0,\n    \"low\": 0,\n    \"medium\": 0,\n    \"high\": 0\n};\n\nfor(var i=0; i<msg.payload.length; i++){\n    if(msg.payload[i].status !== \"closed\"){\n        var prop = String(msg.payload[i][msg.inputs.property]);\n        if(counter.hasOwnProperty(prop)){\n            counter[prop] += 1;\n        }else{\n            counter[prop] = 1;\n        }\n    }\n}\n\n// sorted = sort(counter);\n// msg.payload = [sorted];\nmsg.payload = [counter];\n\nreturn msg;","outputs":1,"noerr":0,"x":1053.87841796875,"y":407.7672576904297,"wires":[["8c55f5d0.7a8a18"]]},{"id":"356ae426.093d5c","type":"function","z":"cb5a1d34.d0d3c","name":"INPUTS","func":"// INPUTS\n\nproperty = \"priority\";\n\n\n// ignore the rest\n\nmsg.inputs = {};\nmsg.inputs.property = property;\n\nreturn msg;","outputs":1,"noerr":0,"x":1055.8218994140625,"y":353.4607391357422,"wires":[["1daa2aa2.d160b5"]]},{"id":"582fe07f.8210a","type":"ui_chart","z":"cb5a1d34.d0d3c","name":"","group":"e28625cb.79b2b8","order":1,"width":"6","height":"4","label":"By Priority","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"50","useOneColor":false,"colors":["#9b9b9b","#008000","#fdd842","#ca0000","#98df8a","#ff8000","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1243.7396240234375,"y":476.65618896484375,"wires":[[],[]]},{"id":"f1763ea0.73225","type":"ui_template","z":"cb5a1d34.d0d3c","group":"96f2fad8.d16c18","name":"On Time Issues","order":1,"width":"22","height":"2","format":"<style>\n        td {\n            height: 30px;\n        }\n        \n    a:link {\n    color: black;\n    background-color: transparent;\n    text-decoration: none;\n}\na:visited {\n    color: black;\n    background-color: transparent;\n    text-decoration: none;\n}\na:hover {\n    color: gray;\n    background-color: transparent;\n    text-decoration: underline;\n}\n</style>\n\n<table style=\"width:100%\">\n        <tr ng-repeat=\"x in msg.payload\">\n            <td width=\"30%\"><b><a href=\"{{x.link}}\" target=\"_blank\">{{x.name}}</a></b></td>\n            <td width=\"10%\">{{x.priority}}</td>\n            <td width=\"10%\">{{x.status}}</td>\n            <td width=\"15%\">{{x.type}}</td>\n            <td width=\"20%\">{{x.assign}}</td>\n            <td width=\"15%\">{{x.date}}</td>\n\n        </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1224.036865234375,"y":618.7592163085938,"wires":[[]]},{"id":"8b6d91db.09623","type":"function","z":"cb5a1d34.d0d3c","name":"format","func":"var result = []\n\nfor(var i=0; i<msg.payload.length; i++){\n    if (msg.payload[i] !== undefined) {\n        issue = {};\n        issue.name = msg.payload[i].name;\n        var convDate = new Date(msg.payload[i].due_date).toString().split(\" \");\n        var formDate = convDate[2] + \" \" + convDate[1];\n        issue.date = formDate;\n        issue.status = msg.payload[i].status;\n        issue.priority = msg.payload[i].priority;\n        issue.type = msg.payload[i].topic_type;\n        issue.assign = msg.payload[i].assigned_roles[0];\n        issue.link = \"https://www.3drepo.io/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/\" + \"issues\" + \"/\" + msg.payload[i]._id;\n        result.push(issue);\n    }\n}\n\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":1057.640869140625,"y":617.6062622070312,"wires":[["f1763ea0.73225"]]},{"id":"3f991650.c9fc3a","type":"function","z":"cb5a1d34.d0d3c","name":"flow variables","func":"var owners = [];\nvar assigned = [];\npriority = [\"none\",\"low\",\"medium\",\"high\"];\npriorityLabel = [\"0_N\",\"1_L\",\"2_M\",\"3_H\"];\nstatus = [\"open\",\"in progress\",\"for approval\",\"closed\"];\nstatusLabel = [\"0_O\",\"1_IP\",\"2_FA\",\"3_C\"];\n\nfor (var i=0; i<msg.payload.length; i++){\n    owners.push(msg.payload[i].owner);\n    if(msg.payload[i].assigned_roles[0] !== null){\n        assigned.push(msg.payload[i].assigned_roles[0]);\n    }\n}\n\nvar ownersSet = new Set(owners);\nowners = Array.from(ownersSet);\n\nvar assignedSet = new Set(assigned);\nassigned = Array.from(assignedSet);\n// assigned.unshift(\"unassigned\");\nassigned.sort();\n\nflow.set(\"owners\",owners);\nflow.set(\"assigned\",assigned);\nflow.set(\"priority\",priority);\nflow.set(\"priorityLabel\",priorityLabel);\nflow.set(\"status\",status);\nflow.set(\"statusLabel\",statusLabel);\n","outputs":1,"noerr":0,"x":720.7036743164062,"y":351.25921630859375,"wires":[[]]},{"id":"e3600aa9.452128","type":"comment","z":"cb5a1d34.d0d3c","name":"issues by assigned & priority","info":"","x":540.8517456054688,"y":439.38885498046875,"wires":[]},{"id":"ff8b99b8.65be18","type":"function","z":"cb5a1d34.d0d3c","name":"count by properties","func":"var assigned = flow.get(\"assigned\");\nvar status = flow.get(\"status\");\nvar statusLabel = flow.get(\"statusLabel\");\n\ncounter = {};\n\nfor(var i=0; i<msg.payload.length; i++){\n    // if(msg.payload[i].status !== \"closed\"){\n        for(var j=0; j<assigned.length; j++){\n            for(var k=0; k<status.length; k++){\n                var prop = String(statusLabel[k] + \"_\" + assigned[j]);\n                if(!counter.hasOwnProperty(prop)){\n                    counter[prop] = 0;\n                }\n                if(msg.payload[i].assigned_roles[0] === assigned[j] && msg.payload[i].status === status[k]){\n                    counter[prop] += 1;\n                }\n            }\n        }\n    // }\n}\n\nmsg.payload = counter;\n\nreturn msg;","outputs":1,"noerr":0,"x":527.6480712890625,"y":698.75927734375,"wires":[["5908517f.f683c"]]},{"id":"5908517f.f683c","type":"function","z":"cb5a1d34.d0d3c","name":"sort & format","func":"var keys = Object.keys(msg.payload);\nvar assigned = flow.get(\"assigned\");\nvar m = {};\nvar data = [];\nvar dataFormated = [];\n\nkeys.sort();\n\nfor(var i in keys){\n    data.push(msg.payload[keys[i]])\n}\n\nfor(var i=0; i<data.length; i+=assigned.length){\n    dataFormated.push(data.slice(i,i+assigned.length));\n}\n\nassigned.pop();\nassigned.push(\"unassigned\");\n    \nm.labels = assigned;\nm.series = flow.get(\"status\");\nm.data = dataFormated;\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":535.2694702148438,"y":752.8201293945312,"wires":[["8398de4e.404e8"]]},{"id":"8398de4e.404e8","type":"ui_chart","z":"cb5a1d34.d0d3c","name":"","group":"ea9cf76e.effd18","order":1,"width":"16","height":"4","label":"By Job & Status","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#9b9b9b","#008000","#fdd842","#ca0000","#98df8a","#ff8000","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":757.347900390625,"y":752.6720581054688,"wires":[[],[]]},{"id":"f3bc286e.26b568","type":"comment","z":"cb5a1d34.d0d3c","name":"issues by assigned & status","info":"","x":535.43505859375,"y":644.9444580078125,"wires":[]},{"id":"b6e481a6.42625","type":"ui_template","z":"cb5a1d34.d0d3c","group":"96f2fad8.d16c18","name":"Overdue Issues","order":3,"width":"22","height":"2","format":"<style>\n        td {\n            height: 30px;\n        }\n        \n    a:link {\n    color: black;\n    background-color: transparent;\n    text-decoration: none;\n}\na:visited {\n    color: black;\n    background-color: transparent;\n    text-decoration: none;\n}\na:hover {\n    color: gray;\n    background-color: transparent;\n    text-decoration: underline;\n}\n</style>\n\n<table style=\"width:100%\">\n        <tr ng-repeat=\"x in msg.payload\">\n            <td width=\"30%\"><b><a href=\"{{x.link}}\" target=\"_blank\">{{x.name}}</a></b></td>\n            <td width=\"10%\">{{x.priority}}</td>\n            <td width=\"10%\">{{x.status}}</td>\n            <td width=\"15%\">{{x.type}}</td>\n            <td width=\"20%\">{{x.assign}}</td>\n            <td width=\"15%\">{{x.date}}</td>\n\n        </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1237.6484375,"y":716.537109375,"wires":[[]]},{"id":"77b5199d.5b8688","type":"function","z":"cb5a1d34.d0d3c","name":"format","func":"var result = []\n\nfor(var i=0; i<msg.payload.length; i++){\n    if (msg.payload[i] !== undefined) {\n        issue = {};\n        issue.name = msg.payload[i].name;\n        var convDate = new Date(msg.payload[i].due_date).toString().split(\" \");\n        var formDate = convDate[2] + \" \" + convDate[1];\n        issue.date = formDate;\n        issue.status = msg.payload[i].status;\n        issue.priority = msg.payload[i].priority;\n        issue.type = msg.payload[i].topic_type;\n        issue.assign = msg.payload[i].assigned_roles[0];\n        issue.link = \"https://www.3drepo.io/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/\" + \"issues\" + \"/\" + msg.payload[i]._id;\n        result.push(issue);\n    }\n}\n\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":1058.75927734375,"y":715.4259643554688,"wires":[["b6e481a6.42625"]]},{"id":"a4d7e665.ec2268","type":"ui_group","z":"","name":"Log In","tab":"f0b14ab9.209f88","order":1,"disp":true,"width":"6"},{"id":"e28625cb.79b2b8","type":"ui_group","z":"","name":"Issues","tab":"22f897b9.a75f88","order":1,"disp":true,"width":"6","collapse":false},{"id":"96f2fad8.d16c18","type":"ui_group","z":"","name":"By Due Date","tab":"22f897b9.a75f88","order":3,"disp":true,"width":"22","collapse":false},{"id":"ea9cf76e.effd18","type":"ui_group","z":"","name":"Number of Issues","tab":"22f897b9.a75f88","order":2,"disp":true,"width":"16","collapse":false},{"id":"f0b14ab9.209f88","type":"ui_tab","z":"","name":"Log In","icon":"dashboard","order":1},{"id":"22f897b9.a75f88","type":"ui_tab","z":"","name":"Issues Report","icon":"dashboard","order":1}]