Proto_nodes.json
[{"id":"f719dea.686f42","type":"tab","label":"Proto-nodes","disabled":false,"info":"Node-RED kit for 3D Repo."},{"id":"fd065e0c.a8d8d8","type":"inject","z":"f719dea.686f42","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":146.375,"y":648.3334121704102,"wires":[["aa1cb5a.88c9948"]]},{"id":"613f57aa.b8d468","type":"function","z":"f719dea.686f42","name":"API call","func":"cookie = flow.get(\"cookie\");\nvar calls = [];\n\nmsg.headers = {\n    \"content-type\": \"application/json\",\n    \"Cookie\": cookie\n};\n\nif(msg.inputs.allRev){\n    try{\n        var test = flow.get(\"revisions\").length;\n    }catch(error){\n        node.error(\"Missing revisions\", msg);\n        return;\n    }\n    for (var i = 0; i < flow.get(\"revisions\").length; i++) {\n        for (var prop in msg.inputs.filter) {\n            calls.push(\"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/revision/\" + flow.get(\"revisions\")[i]._id + \"/meta/findObjsWith/\" + prop + \".json\");\n        }\n    }\n}else{\n    for (var prop in msg.inputs.filter) {\n        calls.push(\"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/revision/master/head/meta/findObjsWith/\" + prop + \".json\");\n    }\n}\n\nmsg.payload = calls;\n\nreturn msg;","outputs":"1","noerr":0,"x":1018.0417785644531,"y":152.77782440185547,"wires":[["f8d8b0c2.6da5c"]]},{"id":"f8d8b0c2.6da5c","type":"split","z":"f719dea.686f42","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1022.1869201660156,"y":200.95049285888672,"wires":[["d3ded0c6.eef35"]]},{"id":"d3ded0c6.eef35","type":"http request","z":"f719dea.686f42","name":"","method":"GET","ret":"obj","url":"{{{payload}}}","tls":"","x":1014.7390441894531,"y":252.91593170166016,"wires":[["3b7e6626.205db2"]]},{"id":"3b7e6626.205db2","type":"join","z":"f719dea.686f42","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","x":1018.4457092285156,"y":301.2988967895508,"wires":[["4490bde2.7bb7bc"]]},{"id":"aa1cb5a.88c9948","type":"function","z":"f719dea.686f42","name":"MAIN INPUTS","func":"// INPUTS\n\nteamspace = \"***\";  // make sure you have permissions to acces this teamspace\nmodelID = \"***\";    // make sure you have permissions to acces this model or federation\n\n\n// ignore the rest\n\ntry{\n    flow.set(\"teamspace\", teamspace);\n}catch(error){\n    node.error(\"Missing teamspace\", msg);\n    return;\n}\ntry{\n    flow.set(\"modelID\", modelID);\n}catch(error){\n    node.error(\"Missing modelID\", msg);\n    return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":179.09149169921875,"y":490.4006118774414,"wires":[[]]},{"id":"73ab8bb4.dc095c","type":"function","z":"f719dea.686f42","name":"merge","func":"if(msg.inputs.allRev){\n    revisions = flow.get(\"revisions\");\n    merged = [];\n    \n    // partition API call results by revision\n    var rev = []\n    while (msg.payload.length > 0) {\n        rev.push(msg.payload.splice(0, Object.keys(msg.inputs.filter).length)); // this works\n    }\n\n    // get meta GUIDs, IFC GUIDs\n    for (var i = 0; i < rev.length; i++) {\n        merged[i] = [];\n        for (var j in rev[i][0][\"data\"]) {      // IfcGUID\n            for (var l = 1; l < rev[i].length; l++) {       // loop through filter\n                var property = Object.keys(msg.inputs.filter)[l];\n                var filter = msg.inputs.filter[Object.keys(msg.inputs.filter)[l]];\n                for (var k in rev[i][l][\"data\"]) {\n                    // if (rev[i][1][\"data\"][j] !== undefined && rev[i][0][\"data\"][j][\"_id\"] === rev[i][1][\"data\"][k][\"_id\"]) {\n                    if (rev[i][0][\"data\"][j][\"_id\"] === rev[i][l][\"data\"][k][\"_id\"]) {      // if meta IDs match create filtered object\n                        o = {};\n                        o.metaID = rev[i][0][\"data\"][j][\"_id\"];\n                        o.IFCGUID = rev[i][0][\"data\"][j][\"metadata\"][\"value\"];\n                        o.property = property;\n                        o.value = rev[i][l][\"data\"][k][\"metadata\"][\"value\"];\n                        o.timestamp = Date.parse(revisions[i].timestamp);\n                        o.parents = rev[i][0][\"data\"][j][\"parents\"];\n                        o.parents = rev[i][l][\"data\"][k][\"parents\"];        // ???\n                        merged[i].push(o)\n                    }\n                }\n            }\n        }\n    }\n    msg.payload = merged;\n    return msg;\n}else{\n    try{\n        var timestamp = Date.parse(flow.get(\"revisions\")[0].timestamp);\n    }catch(error){\n        node.error(\"Missing revisions\", msg);\n    return;\n    }\n    \n    merged = [];\n    \n    // partition API call results by revision\n    var rev = []\n    while (msg.payload.length > 0) {\n        rev.push(msg.payload.splice(0, Object.keys(msg.inputs.filter).length)); // this works\n    }\n    // node.send({payload:rev})\n    // get meta GUIDs, IFC GUIDs\n    for (var i = 0; i < rev.length; i++) {\n        merged[i] = [];\n        for (var j in rev[i][0][\"data\"]) {      // IfcGUID\n            for (var l = 1; l < rev[i].length; l++) {       // loop through filtered\n                var property = Object.keys(msg.inputs.filter)[l];\n                var filter = msg.inputs.filter[Object.keys(msg.inputs.filter)[l]];\n                for (var k in rev[i][l][\"data\"]) {\n                    var value = rev[i][l][\"data\"][k][\"metadata\"][\"value\"];\n                    \n                    // if (rev[i][1][\"data\"][j] !== undefined && rev[i][0][\"data\"][j][\"_id\"] === rev[i][1][\"data\"][k][\"_id\"]) {\n                    if (rev[i][0][\"data\"][j][\"_id\"] === rev[i][l][\"data\"][k][\"_id\"]) {      // if meta IDs match create filtered object\n                        \n                        if (filter.length === 0){\n                            o = {};\n                            o.metaID = rev[i][0][\"data\"][j][\"_id\"];\n                            o.IFCGUID = rev[i][0][\"data\"][j][\"metadata\"][\"value\"];\n                            o.property = property;\n                            o.value = value;\n                            o.timestamp = timestamp;\n                            o.parents = rev[i][0][\"data\"][j][\"parents\"];\n                            o.parents = rev[i][l][\"data\"][k][\"parents\"];        // ???\n                            merged[i].push(o)\n                        }else{\n                            if(filter[0] === true && value.search(filter[1]) > -1){\n                                o = {};\n                                o.metaID = rev[i][0][\"data\"][j][\"_id\"];\n                                o.IFCGUID = rev[i][0][\"data\"][j][\"metadata\"][\"value\"];\n                                o.property = property;\n                                o.value = value;\n                                o.timestamp = timestamp;\n                                o.parents = rev[i][0][\"data\"][j][\"parents\"];\n                                o.parents = rev[i][l][\"data\"][k][\"parents\"];        // ???\n                                merged[i].push(o);\n                            }else{\n                                // node.send({payload:value})\n                                for(var m=1; m<filter.length; m++){\n                                    if(filter[m] === value){\n                                    o = {};\n                                    o.metaID = rev[i][0][\"data\"][j][\"_id\"];\n                                    o.IFCGUID = rev[i][0][\"data\"][j][\"metadata\"][\"value\"];\n                                    o.property = property;\n                                    o.value = value;\n                                    o.timestamp = timestamp;\n                                    o.parents = rev[i][0][\"data\"][j][\"parents\"];\n                                    o.parents = rev[i][l][\"data\"][k][\"parents\"];        // ???\n                                    merged[i].push(o);\n                                    }\n                                }\n                            }\n                        }\n                    }\n                }\n            }\n        }\n    }\n    msg.payload = merged;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":1020.57958984375,"y":400.9157257080078,"wires":[[]]},{"id":"7a6ca922.aca358","type":"function","z":"f719dea.686f42","name":"ID map call","func":"cookie = flow.get(\"cookie\");\n\ntry{\n    revID = flow.get(\"revisions\")[0]._id;\n}catch(error){\n    node.error(\"Missing revisions\", msg);\n    return;\n}\n\nmsg.headers = {\n \"content-type\":\"application/json\",\n \"Cookie\": cookie\n};\n\nmsg.payload = \"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/revision/\" + revID + \"/idmap.json\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":693.3849391937256,"y":416.721736907959,"wires":[["404eb0d6.a9ad58"]]},{"id":"404eb0d6.a9ad58","type":"http request","z":"f719dea.686f42","name":"","method":"GET","ret":"obj","url":"{{{payload}}}","tls":"","x":693.6583557128906,"y":470.25291442871094,"wires":[["cb89078d.3425a"]]},{"id":"98715533.bb0588","type":"function","z":"f719dea.686f42","name":"meta diff","func":"function metaDiff(current, arrayOfPrevious){\n    GUIDs = [];\n    metaIDs = [];\n    for(var i=0; i<current.length; i++){\n        for(var j =0; j<arrayOfPrevious.length; j++){\n            for(var k=0; k<arrayOfPrevious[j].length; k++){\n                if(current[i].IFCGUID === arrayOfPrevious[j][k].IFCGUID){\n                    if(current[i].value != arrayOfPrevious[j][k].value){\n                        if(metaIDs.indexOf(current[i].metaID != -1)){       //can't get rid of duplicates, array>set>array workaround\n                            metaIDs.push(current[i].metaID)\n                            for(var l=0; l<current[i].parents.length; l++){\n                                if(GUIDs.indexOf(current[i].parents[l] != -1)){\n                                    GUIDs.push(current[i].parents[l]);\n                                }\n                            }\n                        }\n                    }\n                }\n            }\n        }\n    }\n    metaIDs = new Set(metaIDs);\n    metaIDs = Array.from(metaIDs);\n    GUIDs = new Set(GUIDs);\n    GUIDs = Array.from(GUIDs);\n    return [metaIDs, GUIDs];\n}\n\nmd = metaDiff(msg.payload[0], msg.payload.slice(1));\n\nmsg.payload = md[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":1321.0078430175781,"y":359.56211853027344,"wires":[["a0dd60aa.5cf528"]]},{"id":"7383a908.957b08","type":"function","z":"f719dea.686f42","name":"revisions API","func":"cookie = flow.get(\"cookie\");\n\nmsg.headers = {\n \"content-type\":\"application/json\",\n \"Cookie\": cookie\n};\n\nmsg.payload = \"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/\" + \"revisions.json\"\n\nreturn msg;","outputs":1,"noerr":0,"x":699.1250762939453,"y":130.4132490158081,"wires":[["369f2490.499584"]]},{"id":"369f2490.499584","type":"http request","z":"f719dea.686f42","name":"","method":"GET","ret":"obj","url":"{{{payload}}}","tls":"","x":699.1146697998047,"y":179.89239883422852,"wires":[["41125072.02119"]]},{"id":"41125072.02119","type":"function","z":"f719dea.686f42","name":"OUTPUTS","func":"// all revisions\n\nflow.set(\"revisions\", msg.payload);\n\n\n// uncomment and specify subset of revisions below\n\n// flow.set(\"revisions\", msg.payload.slice(0,10));\n","outputs":1,"noerr":0,"x":710.1216125488281,"y":228.63548278808594,"wires":[[]]},{"id":"3f644b23.c431ac","type":"ui_chart","z":"f719dea.686f42","name":"value tracker","group":"7063e980.1768f8","order":3,"width":0,"height":0,"label":"value tracker","chartType":"line","legend":"false","xformat":"D/M","interpolate":"step","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1321.5539855957031,"y":189.92059326171875,"wires":[[],[]]},{"id":"45dcac32.425e84","type":"function","z":"f719dea.686f42","name":"format","func":"m = {};\ndata = [];\n\nfor(var k=0; k<msg.inputs.trackIDs.length; k++){\n    data[k] = [];\n    for(var i=0; i<msg.payload.length; i++){    // revisions\n        for(var j=0; j<msg.payload[i].length; j++){     // results in revision\n            if(msg.payload[i][j] !== undefined){\n                if(msg.payload[i][j].IFCGUID == msg.inputs.trackIDs[k]){   // set trackIDs in INPUT node\n                    o = {};\n                    o.x = msg.payload[i][j].timestamp;\n                    o.y = msg.payload[i][j].value;\n                    data[k].push(o);\n                }\n            }\n        }\n    }\n}\n\nm.labels = [\"a\"];\nm.series = msg.inputs.trackIDs;\nm.data = data;\n\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":1320.4427727593315,"y":142.1428739759657,"wires":[["3f644b23.c431ac"]]},{"id":"f621a9aa.324988","type":"comment","z":"f719dea.686f42","name":"revisions","info":"get all revisions of a model\n\nto choose only subset of revisions use:\nmsg.payload.slice(0,3)\n\nplace after login","x":701.3750762939453,"y":83.88894176483154,"wires":[]},{"id":"c5493432.77b8c8","type":"comment","z":"f719dea.686f42","name":"value tracker","info":"set tracker on model not federation\n\nfilter has only 2 inputs:\n- IFC GUID\n- required metadata field\n- all revisions enabled","x":1319.0143059624565,"y":65.00006696912976,"wires":[]},{"id":"1beee3a4.fcaebc","type":"comment","z":"f719dea.686f42","name":"meta diff","info":"difference metadata on model not federation\n\nfilter has only 2 inputs:\n- IFC GUID\n- required metadata field\n- all revisions enabled","x":1317.0300598144531,"y":307.0833282470703,"wires":[]},{"id":"7aac500d.fbe87","type":"comment","z":"f719dea.686f42","name":"filter","info":"keep Ifc GUID always as first item","x":1013.5973815917969,"y":61.666709899902344,"wires":[]},{"id":"3d200d5f.393cfa","type":"function","z":"f719dea.686f42","name":"all meta IDs","func":"teamspace = flow.get(\"teamspace\");\n\nallMeta = [];\n\nif (msg.payload.subModels !== undefined) {\n    for (var i = 0; i < msg.payload.subModels.length; i++) {\n        for (var j = 0; j < msg.payload.subModels[i].data.length; j++) {\n            allMeta.push(msg.payload.subModels[i].data[j]._id)\n        }\n    }\n}else{\n    for(var i in msg.payload.data){\n        allMeta.push(msg.payload.data[i]._id)\n    }\n}\n\nvar allMeta = new Set([].concat(...allMeta));\nallMeta = Array.from(allMeta);\n\nflow.set(\"allMeta\", allMeta);\n\nreturn {payload:allMeta};","outputs":1,"noerr":0,"x":427.0097961425781,"y":544.4445037841797,"wires":[[]]},{"id":"b2c213eb.f479d","type":"http request","z":"f719dea.686f42","name":"","method":"GET","ret":"obj","url":"{{{payload}}}","tls":"","x":429.8669738769531,"y":494.60325622558594,"wires":[["3d200d5f.393cfa"]]},{"id":"3286b7dc.ecc34","type":"function","z":"f719dea.686f42","name":"all meta call","func":"cookie = flow.get(\"cookie\");\n\ntry{\n    revID = flow.get(\"revisions\")[0]._id;\n}catch(error){\n    node.error(\"Missing revisions\", msg);\n    return;\n}\n\nmsg.headers = {\n    \"content-type\":\"application/json\",\n    \"Cookie\": cookie\n};\n\nmsg.payload = \"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/revision/\" + revID + \"/meta/all.json\";\n\nreturn msg;","outputs":"1","noerr":0,"x":431.9305725097656,"y":444.3492889404297,"wires":[["b2c213eb.f479d"]]},{"id":"755a7814.d9dc2","type":"comment","z":"f719dea.686f42","name":"all meta","info":"retrieve all metadata in model or federation","x":434.7083435058594,"y":394.44456481933594,"wires":[]},{"id":"1f67fc14.0b4634","type":"file in","z":"f719dea.686f42","name":"validate.csv","filename":"E:\\***\\validate.csv","format":"utf8","chunk":false,"sendError":false,"x":410.9583435058594,"y":696.6664886474609,"wires":[["b19e3078.85fae"]]},{"id":"b19e3078.85fae","type":"csv","z":"f719dea.686f42","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","x":414.291748046875,"y":746.6667938232422,"wires":[["8b2c3548.5ea9a8"]]},{"id":"8b2c3548.5ea9a8","type":"function","z":"f719dea.686f42","name":"set validate","func":"flow.set(\"validate\", msg.payload);\n","outputs":1,"noerr":0,"x":419.84735107421875,"y":794.4446258544922,"wires":[[]]},{"id":"2a1313e4.e20fdc","type":"comment","z":"f719dea.686f42","name":"data validation","info":"Inputs:\n- validate.csv with required fields and values\n- list of IFC types to exclude","x":697.6252746582031,"y":644.8610687255859,"wires":[]},{"id":"4490bde2.7bb7bc","type":"function","z":"f719dea.686f42","name":"if fed (filters)","func":"var o = [];\n\nfor (var i=0; i < msg.payload.length; i++) {\n    if (msg.payload[i] !== undefined) {\n        if (msg.payload[i].subModels !== undefined) {\n            var obj = {};\n            var temp = [];\n            for (var j = 0; j < msg.payload[i].subModels.length; j++) {\n                for (var k = 0; k < msg.payload[i].subModels[j].data.length; k++) {\n                    // merge data arrays as per API calls \n                    temp.push(msg.payload[i].subModels[j].data[k])\n                }\n            }\n            obj.data = temp;\n            o.push(obj);\n        } else {\n            return msg;\n        }\n    }\n}\n\nmsg.payload = o;\n\nreturn msg","outputs":1,"noerr":0,"x":1013.7364807128906,"y":350.8333282470703,"wires":[["73ab8bb4.dc095c"]]},{"id":"1eeb7438.22a1a4","type":"function","z":"f719dea.686f42","name":"if fed (meta)","func":"var o = [];\n\nif(Array.isArray(msg.payload)){\n    for (var i=0; i < msg.payload.length; i++) {\n        if (msg.payload[i] !== undefined) {\n            if (msg.payload[i].subModels !== undefined) {\n                var obj = {};\n                obj.data = [];\n                for (var j = 0; j < msg.payload[i].subModels.length; j++) {\n                    for (var k = 0; k < msg.payload[i].subModels[j].data.length; k++) {\n                        // merge data arrays as per API calls \n                        obj.data.push(msg.payload[i].subModels[j].data[k])\n                    }\n                }\n                // obj.data = temp;\n                o.push(obj);\n            } else {\n                return msg;\n            }\n        }\n    }\n}else{\n    if (msg.payload !== undefined) {\n        if (msg.payload.subModels !== undefined) {\n            var obj = {};\n            obj.data = [];\n            for (var j = 0; j < msg.payload.subModels.length; j++) {\n                for (var k = 0; k < msg.payload.subModels[j].data.length; k++) {\n                    // merge data arrays as per API calls \n                    obj.data.push(msg.payload.subModels[j].data[k])\n                }\n            }\n        } else {\n            return msg;\n        }\n    }\n    msg.payload = obj;\n    return msg\n}\n\n\n","outputs":1,"noerr":0,"x":698.7362976074219,"y":758.0556488037109,"wires":[["e6f28c79.448af"]]},{"id":"e6f28c79.448af","type":"function","z":"f719dea.686f42","name":"validate","func":"validate = flow.get(\"validate\");\n\ntry{\n    test = validate.length;\n}catch(error){\n    node.error(\"Missing validatation data\", msg);\n    return;\n}\n\nvalid = [];\ninvalid = [];\n\nfor(var i=0; i<msg.payload.data.length; i++){   // loop through all meta objects\n    if(msg.inputs.exclude.indexOf(msg.payload.data[i].metadata[\"IFC Type\"]) === -1){   // excluding types\n        var hasField = true;\n        var isCorrect = true;\n        for(var j=0; j<validate.length; j++){       // loop through validation spreadsheet\n            param = String(validate[j].col1).replace(/[^\\x00-\\x7F]/g, \"\");      // ASCI characters only, in case something dodgy comes from the spreadsheet\n            if(Object.keys(msg.payload.data[i].metadata).indexOf(param) === -1){    // check field\n                hasField = false;\n            }else{\n                if(msg.inputs.checkValue){\n                    value = String(validate[j].col2).replace(/[^\\x00-\\x7F]/g, \"\");      // ASCI characters only, in case something dodgy comes from the spreadsheet\n                    node.send({payload:msg.payload.data[i].metadata[param]})\n                    if(msg.payload.data[i].metadata[param] != value){      // check value\n                        isCorrect = false;\n                    }\n                }\n            }\n        }\n        if(hasField && isCorrect){  \n            for(var k=0; k<msg.payload.data[i].parents.length; k++){\n                valid.push(msg.payload.data[i].parents[k]); \n            }\n        }else{\n            for(var k=0; k<msg.payload.data[i].parents.length; k++){\n                invalid.push(msg.payload.data[i].parents[k]);\n            }\n        }\n    }\n}\n\nreturn [{payload:valid},{payload:invalid}];\n","outputs":"2","noerr":0,"x":702.0604553222656,"y":817.1852874755859,"wires":[[],["6b7440c0.52433"]],"outputLabels":["valid","invalid"]},{"id":"6b79a6ba.2af6a","type":"comment","z":"f719dea.686f42","name":"read csv","info":"","x":419.2546081542969,"y":645.5926971435547,"wires":[]},{"id":"3f465962.515a9e","type":"ui_text_input","z":"f719dea.686f42","name":"","label":"Username","group":"d73d915b.3ae9b","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":166.22695922851562,"y":130.9630355834961,"wires":[["7c016b9.cdaa494"]]},{"id":"f58ec06b.fe1c5","type":"ui_text_input","z":"f719dea.686f42","name":"","label":"Password","group":"d73d915b.3ae9b","order":2,"width":0,"height":0,"passthru":false,"mode":"password","delay":300,"topic":"","x":165.254638671875,"y":217.35630798339844,"wires":[["4958a267.33dad4"]]},{"id":"7c016b9.cdaa494","type":"function","z":"f719dea.686f42","name":"username","func":"global.set(\"username\",msg.payload);","outputs":1,"noerr":0,"x":169.9769287109375,"y":174.99515533447266,"wires":[[]]},{"id":"4958a267.33dad4","type":"function","z":"f719dea.686f42","name":"password","func":"global.set(\"password\",msg.payload);\n\n","outputs":1,"noerr":0,"x":163.31460571289062,"y":259.01429748535156,"wires":[[]]},{"id":"a67a9f7c.e56d18","type":"comment","z":"f719dea.686f42","name":"login details","info":"input your login details in dashboard at\n\nhttp://localhost:1880/ui/#/0\n\nset as global variable hence use only once for multiple flows","x":161.89361572265625,"y":80.59264373779297,"wires":[]},{"id":"6e178df1.e19684","type":"function","z":"f719dea.686f42","name":"INPUTS","func":"// INPUTS:\n\nfilter = {\n    // IfcGUID is a default value, keep always as first item. Use Item:GUID for models uploaded with Navis plugin\n    \"IFC%20GUID\": [], \n    // add custom filters below\n    \"IFC%20Type\": [false, \"IfcWall\"],\n}\n\nallRevisions = false;\n\n\n// ignore the rest\n\nmsg.inputs = {};\nmsg.inputs.filter = filter;\nmsg.inputs.allRev = allRevisions;\n\nreturn msg;","outputs":1,"noerr":0,"x":1008.5603332519531,"y":108.29637908935547,"wires":[["613f57aa.b8d468"]]},{"id":"585e33b.cafcccc","type":"function","z":"f719dea.686f42","name":"INPUTS","func":"// INPUTS\n\ntrackIDs = [\"***\",\"***\"]; // \n\n\n// ignore the rest\n\nmsg.inputs = {};\nmsg.inputs.trackIDs = trackIDs;\n\nreturn msg;","outputs":1,"noerr":0,"x":1321.9584579467773,"y":99.95841979980469,"wires":[["45dcac32.425e84"]]},{"id":"a0dd60aa.5cf528","type":"function","z":"f719dea.686f42","name":"CREATE ISSUE?","func":"// INPUTS\n\ncreateIssue = false;\n\n\n// ignore the rest\n\nif(createIssue){\n    return msg;\n}","outputs":1,"noerr":0,"x":1326.9586486816406,"y":412.45838928222656,"wires":[[]]},{"id":"be682162.7a3988","type":"comment","z":"f719dea.686f42","name":"ID map","info":"","x":690.2914733886719,"y":370.87513732910156,"wires":[]},{"id":"cb89078d.3425a","type":"function","z":"f719dea.686f42","name":"set ID map","func":"flow.set(\"IDmap\", msg.payload);","outputs":1,"noerr":0,"x":689.0414733886719,"y":524.5416717529297,"wires":[[]]},{"id":"b0fad9f0.40da38","type":"function","z":"f719dea.686f42","name":"INPUTS","func":"// INPUTS\n\n// validation criteria (fields and values) set in external validation spreadsheet - load with Read CSV node\nexclude = [\"IfcBuilding\",\"IfcBuildingStorey\",\"IfcSite\"]; \ncheckValue = false;      // false for checking that a field exists in object's metadata\n\n\n// ignore the rest\n\nmsg.inputs = {};\nmsg.inputs.exclude = exclude;\nmsg.inputs.checkValue = checkValue;\n\nreturn msg;","outputs":1,"noerr":0,"x":705.2917785644531,"y":699.2082977294922,"wires":[["1eeb7438.22a1a4"]]},{"id":"6b7440c0.52433","type":"function","z":"f719dea.686f42","name":"CREATE ISSUE?","func":"// INPUTS\n\ncreateIssue = false;\n\n\n// ignore the rest\n\nif(createIssue){\n    return msg;\n}","outputs":1,"noerr":0,"x":702.6668395996094,"y":875.4584197998047,"wires":[[]]},{"id":"286154c6.0c991c","type":"ui_chart","z":"f719dea.686f42","name":"count by meta","group":"7063e980.1768f8","order":2,"width":0,"height":0,"label":"count by metadata value in current revision","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1834.8916625976562,"y":235.9618682861328,"wires":[[],[]]},{"id":"b841e441.7e4dd8","type":"function","z":"f719dea.686f42","name":"teamspace","func":"msg.payload = flow.get(\"teamspace\");\n\nreturn msg;","outputs":1,"noerr":0,"x":484.2973937988281,"y":1072.6251678466797,"wires":[["b683d31b.1eef88"]]},{"id":"e4cf16d5.7c5958","type":"function","z":"f719dea.686f42","name":"revisions","func":"revisions = flow.get(\"revisions\");\ntags = [];\n\ntry{\n    test = revisions.length;\n}catch(error){\n    node.error(\"Missing revisions\", msg);\n    return;\n}\n\nfor(var i=0; i<revisions.length; i++){\n    if(revisions[i] !== undefined){\n        if(revisions[i].tag !== undefined){\n            tags.push(revisions[i].tag);\n        }else{\n            tags.push(String(String(revisions[i].timestamp).split(\".\")[0]).replace(\"T\", \" \"));\n        }\n    }\n}\n\nmsg.payload = tags;\n\nreturn msg;","outputs":1,"noerr":0,"x":485.4819641113281,"y":1122.3993377685547,"wires":[["4e42814.71e89"]]},{"id":"4d5a8a45.0b89fc","type":"function","z":"f719dea.686f42","name":"model settings","func":"cookie = flow.get(\"cookie\");\n\nmsg.headers = {\n    \"content-type\":\"application/json\",\n    \"Cookie\": cookie\n};\n\nmsg.payload = \"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \".json\";\n\nreturn msg;","outputs":1,"noerr":0,"x":300.54758071899414,"y":1121.37730550766,"wires":[["d4ddb127.7db358"]]},{"id":"d4ddb127.7db358","type":"http request","z":"f719dea.686f42","name":"","method":"GET","ret":"obj","url":"{{{payload}}}","tls":"","x":300.5432434082031,"y":1175.0686798095703,"wires":[["ad5eb92f.83c0f8"]]},{"id":"ad5eb92f.83c0f8","type":"function","z":"f719dea.686f42","name":"name","func":"if(msg.payload.name){\n    msg.name = msg.payload.name;\n}else{\n    msg.name = \"NOT AUTHORISED\";\n}\n\nif(msg.payload.federate === true){\n    msg.type = \"federation: \";\n}else{\n    msg.type = \"model: \";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":484.2911682128906,"y":1170.1251373291016,"wires":[["55e5290e.9dc6b8"]]},{"id":"5c620b82.bdb33c","type":"function","z":"f719dea.686f42","name":"---","func":"return msg;","outputs":1,"noerr":0,"x":268.0473937988281,"y":1065.1251678466797,"wires":[["4d5a8a45.0b89fc","b841e441.7e4dd8","e4cf16d5.7c5958"]]},{"id":"55e5290e.9dc6b8","type":"ui_text","z":"f719dea.686f42","group":"48aae281.a9aa84","order":1,"width":0,"height":0,"name":"model","label":"{{msg.type}}","format":"{{msg.name}}","layout":"row-left","x":669.9267082214355,"y":1073.4791479110718,"wires":[]},{"id":"b683d31b.1eef88","type":"ui_text","z":"f719dea.686f42","group":"48aae281.a9aa84","order":2,"width":0,"height":0,"name":"","label":"teamspace:  ","format":"{{msg.payload}}","layout":"row-left","x":668.7418518066406,"y":1127.4549102783203,"wires":[]},{"id":"c8dff299.797208","type":"ui_text","z":"f719dea.686f42","group":"48aae281.a9aa84","order":3,"width":0,"height":0,"name":"","label":"properties:  ","format":"","layout":"row-left","x":676.7418518066406,"y":1221.4549102783205,"wires":[]},{"id":"a3bab3e5.17c108","type":"function","z":"f719dea.686f42","name":"filter property","func":"a = Object.keys(msg.inputs.filter);\na.shift();\nmsg.payload = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":928.672119140625,"y":1061.797538757324,"wires":[["5ec1aab.5e85ed4"]]},{"id":"5ec1aab.5e85ed4","type":"ui_template","z":"f719dea.686f42","group":"48aae281.a9aa84","name":"properties","order":4,"width":"5","height":"3","format":"<table style=\"width:100%\">\n        <tr ng-repeat=\"x in msg.payload\">\n            <td><b>{{x}}</b></td>\n        </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1106.172119140625,"y":1060.7975997924802,"wires":[[]]},{"id":"5e428bbf.f0aaf4","type":"comment","z":"f719dea.686f42","name":"details","info":"","x":468.6416931152343,"y":1009.5333709716795,"wires":[]},{"id":"80748c69.1a50e","type":"ui_chart","z":"f719dea.686f42","name":"","group":"7063e980.1768f8","order":4,"width":"0","height":"0","label":"changed","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1803.0560607910156,"y":412.02369689941406,"wires":[[],[]]},{"id":"4e42814.71e89","type":"ui_template","z":"f719dea.686f42","group":"48aae281.a9aa84","name":"revisions","order":7,"width":"5","height":"3","format":"<table style=\"width:100%\">\n        <tr ng-repeat=\"x in msg.payload\">\n            <td><b>{{x}}</b></td>\n        </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":666.0973205566406,"y":1169.722457885742,"wires":[[]]},{"id":"4a8d37bf.bf01c","type":"ui_text","z":"f719dea.686f42","group":"48aae281.a9aa84","order":6,"width":0,"height":0,"name":"","label":"revisions:","format":"","layout":"row-left","x":663.8750305175781,"y":1260.8334197998047,"wires":[]},{"id":"ebfa5113.a7eda8","type":"function","z":"f719dea.686f42","name":"CREATE ISSUE?","func":"// INPUTS\n\ncreateIssue = false;\n\n\n// ignore the rest\n\nif(createIssue){\n    return msg;\n}","outputs":1,"noerr":0,"x":1031.0887756347656,"y":716.4701385498047,"wires":[[]]},{"id":"681348c.d0dd838","type":"comment","z":"f719dea.686f42","name":"counter","info":"takes filter output, one or multiple revisions\n\nreturns quantities by metadata property","x":1616.4585571289062,"y":95.68763732910156,"wires":[]},{"id":"e57da8d3.4e7278","type":"function","z":"f719dea.686f42","name":"count by meta","func":"function sort(object){\n    if (typeof object != \"object\" || object instanceof Array) // Not to sort the array\n        return object;\n    var keys = Object.keys(object);\n    keys.sort();\n    var newObject = {};\n    for (var i = 0; i < keys.length; i++){\n        newObject[keys[i]] = sort(object[keys[i]])\n    }\n    return newObject;\n}\n\nif(msg.inputs.splitByRevision){\n    var allCounters = []\n    for(var i=0; i<msg.payload.length; i++){\n        var counter = {};\n        for(var j=0; j<msg.payload[i].length; j++){\n            var prop = String(msg.payload[i][j].value);\n            if(counter.hasOwnProperty(prop)){\n                counter[prop] += 1;\n            }else{\n                counter[prop] = 1;\n            }\n        }\n        sorted = sort(counter);\n        allCounters.push(counter);\n    }\n    msg.payload = allCounters;\n}else{\n    var counter = {};\n    for(var i=0; i<msg.payload.length; i++){\n        for(var j=0; j<msg.payload[i].length; j++){\n            var prop = String(msg.payload[i][j].value);\n            if(counter.hasOwnProperty(prop)){\n                counter[prop] += 1;\n            }else{\n                counter[prop] = 1;\n            }\n        }\n    }\n    sorted = sort(counter);\n    msg.payload = [sorted];\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1610.5697631835938,"y":185.60438537597656,"wires":[["a70e56aa.b74e6"]]},{"id":"a70e56aa.b74e6","type":"function","z":"f719dea.686f42","name":"format","func":"var data = [];\nvar labels = [];\nvar series = [];\nvar revisions = flow.get(\"revisions\");\nvar m = {};\n\nif(msg.inputs.splitByRevision){\n    for(var i=0; i<msg.payload.length; i++){\n        if(revisions[i] !== undefined){\n            if(revisions[i].tag !== undefined){\n                series.push(revisions[i].tag);\n            }else{\n                series.push(String(String(revisions[i].timestamp).split(\".\")[0]).replace(\"T\", \" \"));\n            }\n        }\n        for(var j=0; j<Object.keys(msg.payload[i]).length; j++){\n            if(labels.indexOf(Object.keys(msg.payload[i])[j]) === -1){\n                labels.push(Object.keys(msg.payload[i])[j]);\n            }\n        }\n    }\n    for(var i=0; i<msg.payload.length; i++){\n        temp = [];\n        for(var k=0; k<labels.length; k++){\n            if(msg.payload[i].hasOwnProperty(labels[k])){\n                temp.push(msg.payload[i][labels[k]]);\n            }else{\n                temp.push(0)\n            }\n            \n        }\n        data.push(temp);\n    }\n    m.labels = labels;\n    m.series = series;\n    m.data = data;\n    msg.payload = [m];\n    \n}else{\n    for(var i=0; i<msg.payload.length; i++){\n        for(var j=0; j<Object.keys(msg.payload[i]).length; j++){\n            labels.push(Object.keys(msg.payload[i])[j]);\n            data.push(msg.payload[i][Object.keys(msg.payload[i])[j]]);\n        }\n    }\n    m.labels = labels;\n    m.series = [\"Count\"];\n    m.data = [data];\n    msg.payload = [m];\n}\n\nreturn msg;\n\n\n","outputs":"1","noerr":0,"x":1617.5559692382812,"y":233.9376678466797,"wires":[["286154c6.0c991c"]]},{"id":"2a466a23.7b30a6","type":"function","z":"f719dea.686f42","name":"INPUTS","func":"// INPUTS\n\nsplitByRevision = false;\n\n\n// ignore the rest\n\nmsg.inputs = {};\nmsg.inputs.splitByRevision = splitByRevision;\n\nreturn msg;","outputs":1,"noerr":0,"x":1614.0328165690103,"y":135.02892133924695,"wires":[["e57da8d3.4e7278"]]},{"id":"d9c2da69.a68da8","type":"function","z":"f719dea.686f42","name":"diff","func":"for(var i=0; i<msg.payload[0].labels.length; i++){\n    include = [];\n    for(var j=0; j<msg.payload[0].series.length; j++){\n        include.push(msg.payload[0].data[j][i])\n    }\n    test = include.reduce(function(a, b){ return (a === b) ? a : false; });     // diff\n    if(test){\n        msg.payload[0].labels.splice(i,1);        // delete leaves null, clean up below\n        for(var j=0; j<msg.payload[0].series.length; j++){\n            msg.payload[0].data[j].splice(i,1);  \n        }\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1623.5832824707031,"y":413.27076721191406,"wires":[["80748c69.1a50e"]]},{"id":"5df3d7c2.41d1d8","type":"comment","z":"f719dea.686f42","name":"show different only","info":"splitByRevision = true;","x":1621.9584045410156,"y":368.6042022705078,"wires":[]},{"id":"58a4e269.018b4c","type":"comment","z":"f719dea.686f42","name":"display filtered","info":"","x":930.2916259765625,"y":1021.1040802001951,"wires":[]},{"id":"9c2581e2.f9b688","type":"http response","z":"f719dea.686f42","name":"","statusCode":"","headers":{},"x":1352.3564758300781,"y":1149.3147430419922,"wires":[]},{"id":"3681bfc6.ead8e","type":"http request","z":"f719dea.686f42","name":"","method":"POST","ret":"obj","url":"{{{topic}}}","tls":"","x":1341.3542785644531,"y":1097.8255157470703,"wires":[["9c2581e2.f9b688"]]},{"id":"98b1107e.08a83","type":"function","z":"f719dea.686f42","name":"new model API","func":"modelNames = msg.inputs.modelNames;\nproject = msg.inputs.project;\ncalls = [];\n\nfor(var prop in modelNames){\n    o = {\n        \"desc\":modelNames[prop][0],\n        \"modelName\":prop,\n        \"project\":project,\n        \"type\":modelNames[prop][1],\n        \"unit\":modelNames[prop][2]\n    }\n    calls.push(o)\n}\n\nvar cookie = flow.get(\"cookie\");\nmsg.headers = {\n    \"content-type\":\"application/json\",\n    \"Cookie\": cookie\n};\nmsg.topic = \"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/model\";\nmsg.payload = calls;\n\nreturn msg;","outputs":1,"noerr":0,"x":1345.9304504394531,"y":992.8616790771484,"wires":[["8efb39fa.865638"]]},{"id":"8efb39fa.865638","type":"split","z":"f719dea.686f42","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1345.3500061035156,"y":1042.2989044189453,"wires":[["3681bfc6.ead8e"]]},{"id":"b70944ac.adb418","type":"comment","z":"f719dea.686f42","name":"create model","info":"","x":1328.1231994628906,"y":898.3091583251953,"wires":[]},{"id":"295d5e1d.33c072","type":"function","z":"f719dea.686f42","name":"INPUTS","func":"// INPUTS\n\nproject = \"***\";\n\nmodelNames = // name:[description,type,units]\n{\n    \"***\":[\"\",\"A\",\"mm\"],\n    \"***\":[\"\",\"S\",\"mm\"],\n    \"***\":[\"\",\"MEP\",\"mm\"],\n}\n\n// ignore the rest\n\nmsg.inputs = {};\nmsg.inputs.project = project;\nmsg.inputs.modelNames = modelNames;\n\nreturn msg;","outputs":1,"noerr":0,"x":1347.1232299804688,"y":947.9313812255859,"wires":[["98b1107e.08a83"]]},{"id":"24d395c9.7dd47a","type":"function","z":"f719dea.686f42","name":"filter operations","func":"// get list of meta IDs\nif(msg.inputs.allRev){\n    // not sure if this makes sense \n    // since only one group of objects in one revision can be created\n    node.send({payload:\"coming soon...\"})\n}else{\n    metaIDs = [];\n    for(var i=0; i<msg.payload[0].length; i++){\n        metaIDs.push(msg.payload[0][i].metaID);\n    }\n}\n\n// operations\nif(msg.inputs.operation === \"union\"){\n    result = [];\n    // http://mikeheavers.com/tutorials/removing_duplicates_in_an_array_using_javascript\n    var result = metaIDs.filter(function(elem, pos) {\n        return metaIDs.indexOf(elem) == pos;\n    });    \n}\nif (msg.inputs.operation === \"intersection\") {\n    // https://stackoverflow.com/questions/840781/get-all-non-unique-values-i-e-duplicate-more-than-one-occurrence-in-an-array#840808\n    var result = [];\n    var sorted_arr = metaIDs.sort();\n    for (var i = 0; i < sorted_arr.length - 1; i++) {\n        var flag = msg.inputs.filterLength - 2;\n        for (var j = 1; j < msg.inputs.filterLength - 1; j++) {\n            if (sorted_arr[i + j] == sorted_arr[i]) {\n                flag -= 1;\n            } else {\n                break;\n            }\n        }\n        if (flag === 0) {\n            result.push(sorted_arr[i]);\n        }\n    }\n}\n\nif(msg.inputs.operation === \"difference\"){\n    var result = [];\n    // union\n    var union = metaIDs.filter(function(elem, pos) {\n        return metaIDs.indexOf(elem) == pos;\n    });\n    // intersection\n    var intersection = [];\n    var sorted_arr = metaIDs.sort();\n    for (var i = 0; i < sorted_arr.length - 1; i++) {\n        var flag = msg.inputs.filterLength - 2;\n        for (var j = 1; j < msg.inputs.filterLength - 1; j++) {\n            if (sorted_arr[i + j] == sorted_arr[i]) {\n                flag -= 1;\n            } else {\n                break;\n            }\n        }\n        if (flag === 0) {\n            intersection.push(sorted_arr[i]);\n        }\n    }\n    // difference\n    Array.prototype.diff = function(a) {\n        return this.filter(function(i) {return a.indexOf(i) < 0;});\n    };\n    result = union.diff(intersection)\n}\n\n// get mesh IDs\nmeshIDs = [];\nfiltered = [];\nfor(var i=0; i<msg.payload[0].length; i++){\n    for(var j=0; j<result.length; j++){\n        if(msg.payload[0][i].metaID === result[j]){\n            meshIDs.push(msg.payload[0][i].parents);\n            filtered.push(msg.payload[0][i]);\n        }\n    }\n}\n\n// flatten meshIDs\nmsg.payload = [].concat(...meshIDs);\nreturn [{payload:filtered},msg];","outputs":"2","noerr":0,"x":1026.8749084472656,"y":656.9374847412109,"wires":[[],["ebfa5113.a7eda8"]],"outputLabels":["filtered","mesh IDs"]},{"id":"9f6f764c.f02cc8","type":"function","z":"f719dea.686f42","name":"INPUTS","func":"// INPUTS\n\noperation = \"intersection\";    // choose from: union, intersection, difference\n\n\n// ignore the rest\n\nvar filterLength = Object.keys(msg.inputs.filter).length;\nmsg.inputs = {};\nmsg.inputs.operation = operation;\nmsg.inputs.filterLength = filterLength;\n\nreturn msg;","outputs":1,"noerr":0,"x":1029.8268127441406,"y":605.3720245361328,"wires":[["24d395c9.7dd47a"]]},{"id":"592dfe6e.baf6f","type":"comment","z":"f719dea.686f42","name":"operations","info":"go after filter","x":1021.0769348144531,"y":565.4553375244141,"wires":[]},{"id":"c4098ed5.b32c68","type":"http request","z":"f719dea.686f42","name":"","method":"POST","ret":"obj","url":"{{{topic}}}","tls":"","x":413.6145324707031,"y":181.89928436279297,"wires":[["16ec9985.96a9fe"]]},{"id":"16ec9985.96a9fe","type":"function","z":"f719dea.686f42","name":"cookie","func":"var cookies = msg.responseCookies;\n\ntry{\n    cookies[\"connect.sid\"];\n}catch(error){\n    node.error(\"Invalid username or password\", msg);\n    return;\n}\n\nmsg.headers = {\n \"content-type\":\"application/json\",\n \"Cookie\": \"connect.sid=\" + cookies[\"connect.sid\"][\"value\"]\n};\n\nflow.set(\"cookie\",msg.headers[\"Cookie\"]);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":416.1701965332031,"y":233.65120697021484,"wires":[[]]},{"id":"c9ddaf73.9bed9","type":"function","z":"f719dea.686f42","name":"header","func":"try{\n    test = global.get(\"username\")[0];\n}catch(error){\n    node.error(\"Login error - login at http://localhost:1880/ui/#/0\", msg);\n    return;\n}\ntry{\n    test = global.get(\"password\")[0];\n}catch(error){\n    node.error(\"Login error - login at http://localhost:1880/ui/#/0\", msg);\n    return;\n}\n\n\nmsg.payload = {\n \"username\": global.get(\"username\"), \n \"password\": global.get(\"password\")\n};\n\nmsg.topic = \"https://api1.www.3drepo.io/api/login\";\n\nmsg.headers = {'content-type':'application/json'};\n\nreturn msg;","outputs":1,"noerr":0,"x":415.57476806640625,"y":133.03717041015625,"wires":[["c4098ed5.b32c68"]]},{"id":"af53d448.98ef28","type":"comment","z":"f719dea.686f42","name":"login","info":"","x":417.4861145019531,"y":86.11111450195312,"wires":[]},{"id":"9e6ec264.d7b38","type":"http response","z":"f719dea.686f42","name":"","statusCode":"","headers":{},"x":1645.2707824707031,"y":762.7708587646484,"wires":[]},{"id":"22f5e8cc.81076","type":"function","z":"f719dea.686f42","name":"create issue API call","func":"var issue = {};\nvar viewpoint = {};\n\nissue.name = msg.inputs.issueName;\nissue.desc =  msg.inputs.desc;\nissue.account = flow.get(\"username\");\nissue.assigned_roles = [];\nissue.creator_role = \"Client\";\nissue.model = flow.get(\"modelID\");\nissue.objectId = null;\nissue.pickedNorm = null;\nissue.pickedPos = null;\nissue.priority = \"none\";\nissue.rev_id = null;\nissue.scale = 1;\nissue.status = \"open\";\nissue.topic_type = \"for_information\";\n\nviewpoint.screenshot = \"iVBORw0KGgoAAAANSUhEUgAAAeAAAAHgCAYAAAB91L6VAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3wsGDTs2hteDZQAAIABJREFUeNrt3Xd8VGW+x/HvTDoJpFFDEkBqCEGkSpOOiOhSBBs2FFdBqfa24a6uogICq4goohQRsKIoNRSpGhBCD51gIEAaLXXO/SPcvbt73atOPTPzeb9eeSHZPc+c+f0e8s0zp0kAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOC3WPzxTadKwRHSNVapoeXqlyHVkVRJUoSkSElhV/8ezTQBALvkSbos6YqkAkkXr/79mKRDFumgpMx86WiqVEIA+6DJUoxV6iapu6TuhtRQUgD/NgDAFMpVEcZrJK0xpLXjpFwC2EtNkVpKul1ST0ktJFmZ4wDgFWySdkhaJWnhWOlnAtjkJkmNrNIwSXdKSmQOA4BPOCHpE6v0wWgpkwA212r3ZknjJHVlpQsAvrsyNqQ0izRprPQdAewhqVJglHSXIT0lKZl5CQB+ZY9Fej1Omj+k4hiy1/G6E5EMyRIl3RYqzZf0iKTqzEMA8DvVJQ24IN16o5SzXNrPCtiFJkttLdI7klox9wAA/+QnizRijPQjAexEf5diS6Upku4Wx3gBAL+uzJDeCZReHCUVEsAOunqC1QxJCcwtAMDvcFzSo2Y/Ucu0ATxTqnRZelfSPcwlAIAd5hrSn8dV3ImLAP49pkrNyqVPLVJT5g8AwIGQ22GRbjfj9cOmO546RRpok34gfAEAjjKk62zS1ilSf7Ptm6kuQ5oipUp6W1Io0wYA4CRhkm7vI1mWS2tNtDr3vFTJGilNkzSSeQIAcKHpBdKY1Ir7Tfv3CjhVCo2SPpV0L/MCAOBi7UKllPbS12ulMr8N4FQpMFJaLBN+Ng8A8FlJoVKz9tJnaz24EvZYAKdK1ihpnqRBzAUAgJs1CZMaXS99sVYyPLEDHjsLOkqabkh3MAcAAJ5gSHdcPf/If1bAk6VnJD1L+wEAHta2j3RpubTJ3S/s9rOgJ0sDLNIScU9nAIA52Ayp/zhpqc8G8FtSY0P6SVIE/QYAmEiBpJZjpSPuekG3rUInS2GGtIjwBQCYUKSkT1OlYJ8LYEmvS2pOjwEAJtU6Uprorhdzy0fQVx8puFRe8vxhAIDfMizSTWOk5V4fwK9JkaHSfkOqSV8BAF4gK1hKGilddOWLuPwj6BAplfAFAHiR+GLpJa9eAU+SrrNKP8pkT10CAOA3lNmk1uOlnV63Ak6VrFZpJuELAPBCgVbp74YLF6ouC+AoabCkNvQQAOClOr0lDXDV4C5J9tSKBy3sMaQm9A8A4K0MaW+hlJLqgqcmuWQFHCUNInwBAN7OIjWNlG51xdhOD2BDshjS87QNAOAjIfySK44FO/0EqWipn6SxtAwA4CNqbZG2LpcOmX0F/Bi9AgD4Eldkm1OX1JOkBKt0TDxqEADgW2yGlDhOOmXKFbBVupPwBQD4IKukO5w9oDOX6PfRIwCAL7JIQ00ZwFOkFhapKS0CAPioFpOlFDOugG+jNwAAH18FDzJjAPemNQAAH+e0rHPKWdDvSNHF0lnx4AUAgG8rC5BiR0mFplgBF0k3EL4AAD8QaKvIPIc5JYAtUjd6AgDwB4aTMs9Zx4C70BIAgJ9wSuY5fAw4VQqMlC5JCqYnAAA/UFxbCh8ilXt0BRwt1SN8AQB+JOSUVMfRQRwOYENqTC8AAH7G4exzOIBtBDAAgAB2fwBbpEb0AQDgZxzOPmecBV2HPgAA/IlhhmPAFimSVgAA/Ikzss8ZJ2FF0AoAgJ+p7PEAdsZOAADgTQwCGAAA97OYJID5CBoA4G9MEcDcBQsA4G9CzBDAAACAAAYAgAAGAAAEMAAABDAAAAQwAAAggAEAIIABAAABDAAAAQwAAAhgAAAIYAAAQAADAEAAAwBAAAMAAAIYAAACGAAAEMAAABDAAACAAAYAgAAGAAAEMAAABDAAAAQwAAAggAEAIIABAAABDAAAAQwAAAhgAAAIYAAAQAADAEAAAwAAAhgAAAIYAAACGAAAEMAAABDAAACAAAYAgAAGAAAEMAAABDAAACCAAQAggAEAIIABAAABDAAAAQwAAAhgAAAIYAAAQAADAEAAAwAAAhgAAAIYAAACGAAAEMAAABDAAACAAAYAgAAGAAAEMAAABDAAACCAAQAggAEAIIABAAABDAAAAQwAAAhgAAAIYAAAQAADAEAAAwAAAhgAAAIYAAACGAAAEMAAABDAAACAAAYAgAAGAAAEMAAABDAAACCAAQAggAEAIIABAAABDAAAAQwAAAhgAAC8WiAlAHyUxaJqzZsroXt31WjTRtFNmqhKYqIsVquCIiJkDQqiRk5k2GwqKSiQJF3Kzlbu/v06t2uXTq5Zo9Nbt6q8pIQi4V//iTo6wBTJoIyAeYTHxSnl4YfV9N57VaVePQpiAsV5eTq4eLF2v/++zvz4IwXxEWMdzFACGPARYVWrqt2LL6rZww8rMDSUgpjUiZUrtfmll5S9ZQvFIIAJYMDbJQ8bps6vv67Q2FiK4Q0MQ/vmztX6J57QlbNnqYefBjAnYQFeLCg8XH3mz1evDz4gfL2JxaKke+/V0J9/VnzXrtTDTxHAgJcKj4vTHVu3qsldd1EML+7hbWvWqPVTT1EMAhiANwiNjdXAFSsUm5xMMXxgNdxp4kS1feEFakEAAzCzwEqV9KelSwlfH9Phr3/VdaNHUwgCGIBZ9Z49W7Xat6cQPqjLlClqMGgQhSCAAZhNw8GD1ej22ymEr7JY1PO991Q5MZFaEMAAzCKsalX1mDGDQvi40JgY3fjRR5LFQjEIYABm0Prpp7nUyE/Ed+2qRkOGUAgCGIDHV7/VqunaESMohB/p+Mor3K+bAAbgaU3vv1+BlSpRCD8SWb++rrn1VgpBAAPwpOQHHqAIfihl+HCK4MN4HCHgBSuhmKQkh8YoPHZMP0+frhMrV+pCVpZKL16UrbSU4jqRxWpVcGSkKlWrpvhu3XTdqFGKadrUoTETe/ZUSHS0ivPyKDArYADultCtm/0bG4Z+fPVVfdS4sbZPnqxzGRkqzssjfF3AsNlUnJenvIMHlTFzpuampOiHp5+WUV5uf6gHBCixRw+KSwAD8IRa119v97YbnnxSG597jofBeyiQf3r9da0ZOdKhcWp37kwxCWAAnhDduLFd2/2ycaPSJ0+mgB6WMXOmstautXt7bjlKAAPwkCr16tm13c6//10yeFy3Gexy4AYqkQ0aUEACGIAnBFepYtd2pzZsoHgm8cvGjXZvGxIVRQEJYACeEBQebtd2l8+coXgm4UgvgitXpoAEMABPsFjt+2dqKyujeCbhSC/s7T8IYAAAQAADAGAO3AkLMIGgiAhVjo9XeK1aCqtWTSHR0QqJilJodDTFAQhgAI6qnJCgmu3aKSYpSTFNmyqmSRNFNWigoIgIigMQwACcJSI+Xtf066f4rl0V17GjIuLjKQoAAhhwhchrrlGToUNV/09/UvXrrpMsFooCgAAGXCEgOFiN77pLycOGqXanToQuAAIYcKWg8HClPPywWo4fr4jatSkIAAIYcCWL1aoWjz+udi+9pNCYGAoCgAAGXK1yYqJ6z56tBJ7TCoAABtyj0ZAh6jlrlt0PSACA/8GdsIDfw2JRh5dfVt+FCwlfAKyAAbf8IwkL000LFqh+//4UAwABDLhDUHi4+n32merceCPFAEAAA+4K34ErV6pW+/YUA4DTcQwY+BUBISG65YsvCF8ABDDgTl2nTVNir14e34+SCxdoBuCj+Aga+DfNH31UKQ8/7JbXKs7PV8727crZvl15Bw7ock6OruTk6FJ2ti7n5KjsyhWNMQyaAhDAgG+r3bmzuk6d6prBDUPndu/WiVWrlL1pk3K2b1fBkSMUHSCAAf8WEh2tPvPnyxoU5NRx8w8d0t4PP9S+efN04cQJu4Lbnoc7WKxWGTYbjTUBi9WBo318AkIAA76ux7vvqnJCgvOCNzNTm//yFx1ctEhGebnd45RduaLASpX+8HZhVavqck4OjTWBsGrV7N625OJFCuijOAkLkNTk7rvVaMgQp4xlKyvTlgkTNDclRQc++cSh8JXsPxGrZrt2NNYkarRubX//CwspIAEM+KZKNWo47bjvpdOn9XnPntqSmqry4mKnjHnh5Em7tkt55BGaaxLNHnrI7m0Ljx2jgAQw4Ju6TZ+u0NhYh8c5v3u3FrZtq6x165y6f3kHD9q1Xb2+fdVs+HAa7GGN77zToduY5u7dSxEJYMD3JPTooYaDBzs8zpkff9SiTp3sXq3+1tj26jFjhlo9+aRjJwHB/pXv8OHqPWeOQ2Nkb95MIX2UxdEBpkicogfvnPwBAbp7+3ZVbd7coXFy9+3T4htu0JVz51yyn1VTUjR01y6H93H3rFk6sWqV8g8dUtmVK0wAFwgICVGVOnUU37Wrmg0f7tCxX0mSYWhW7dq6lJ1NcU1orIMZylnQ8FvNH3nE4fC9cvasvujTx2XhK0nnMjKUd+CAohs3tnuMmKQk3TB5Mk33Mlnr1hG+PozPpeCXgqtUUbuXXnJ4dbL8/vvtu7b3Dzq4aBFN80P7Pv6YIhDAgG9p+/zzqlS9ukNjZLz3no4tW+aW/c147z2Vl5TQOD9y8dQpHfjkEwpBAAO+o0q9erpu9GiHxig8flwbnnzSfT+Ms7K0f+5cmudHtr3yisqKiigEAQz4jhvefFMBISF2b2/YbPr+7rvd/qSijc8/r+K8PBroB3754QdlzJxJIQhgwHfUat9eDQYMcGiMPbNn65eNG92+75fPnNEmR49bw/TKioq0ZsQI7uPtB3ziLOjgypUV17mz4rt0UdWUFEU3bqzQ6GjJYlFIVBRddrLiggLJZtOV8+dVePSozu/dq1MbNihr7VoVnT9v3h23WHTDpEl2PdjgH+89P18bn3vOY29h59tvq26fPqp3881MRB+VNnKkzmVkUAg/4LXXAQcEB6vhbbep8Z13KrFXL4c+UoRzGOXlylq/Xvs++kgHFi502q0YnaXxHXfoJgdPalk/fry2e/hynrCqVXX7pk2KatiQSedjdrz1ltaNHUshvISj1wF7XQBbg4J07ciRavXEE4qoXZsZYFKXTp/Wj3/7mzJmzjTF2btB4eG6d98+h552lHfwoOalpJji/URec42GbNig8Lg4JpuP2PPBB1o5fDiPH/SjAPaqY8C1b7hBQ3ftUpcpUwhfkwuvWVNdp03T0IwM1br+eo/vT5tnn3X4UYPrx483zaVABUeO6NOOHZW7fz+TzdsZhrakphK+fsgrAtgaGKiOr76q29LSFNOkCV3zItGNGmnwhg1q+9xzDh17dWi1WL++Wo4f79AYJ1ev1tFvvjFVbQuPHdOnHTroqJuuRYbzFeXmaumAAdoyYQLhSwCbT2ClSur3+edq88wz3FDeWydZYKA6vPKK+i1ZosDQULe/fte33nLodQ2bTeufeMKUtS3Oy9PXt9yiDU88odJLl5hsXuTI0qWaf911OvzVVxSDADafoPBwDfj+e11zyy10ygc0GDhQf/r2WwWFh7vtNZMffFD1+vVzaIy9H32ksz//bNq6Gjab0idN0sdJSdrz4YfcMcvkftm4UV/06aOvb73VLbcxhXmZ9iSsgJAQ9f/uOyV060aXfMzRb77R1/37yygvd+nrRDVsqLu3b1dQRITdY5ReuqSPGjfWxVOnvKa+EfHxavbQQ2p6772qUq8eE84kn1QcXLxYe2bP1umtWymIj/DZs6B7zpqlZg89RId91E+vv64fnn7aZeNbg4I05IcfVLNtW4fG2fyXv2jrf/2Xl/56bVG15s2V0L27arRpo+gmTVQlMVEhUVGyBAQwCV0Ytpeys5W7f7/O7dqlk2vW6PTWrXwyQQB7RwA3uesu9Zk/n+76MMNm0+e9eunkmjUuGb/zG2+olYPHbfMPHdK8lBTuxwvAJQFsumPAYdWqqev06XTWx1msVvWeM8clx4Ovfewxh8NXktY8+ijhC8BlTBfAbZ55RqExMXTGD1ROSFCLUaOcOmaDQYPUxQl3qjr85Zc6sWoVTQLgHwEcHhen5o8+Slf8SMuxYxUYFuaUsRoNGaK+n3wia1CQQ+OUXb6sdWPG0BwA/hPAKcOHO+2HMbxDWLVqanL33Y4NYrGo7fPPq+/ChQ6HryRtePJJFR4/TnMAuJR5noZksajpffc5PMzFrCz9PH26ji9frgtZWeZ+Oo+XComOVuX4eNXp3VstRo1S5cREh8ZrMnSodr//vl3bVqlXT71nz1Z8165OeW9Hly3TzhkzaDIA18eeowM46yzoatdeq7sdvNnBvo8/1upHH1XZ5ct01l2/wYWFqdvbbyv5gQfsHsOw2fRezZq6cvbs794muHJltX7mGbUcN85pd9e6cvas5qak6PKZMzQWwG9y9Cxo06yAE3v1cmj7vXPmaMWwYdxP1c3KrlzRyqt1Tx42zL7fAq1WxXfposwlS37z/xtes6aaP/qoWjz+uEKio536XlY+9BDhC8B9Cxiz7Ej1Vq3s3vZSdrbWjBhB+HpQ2siRqnvTTQqvVcuu7Wu2bfsfAziqYUPV7dNHDQYOVO3OnV1yE4md77yjI19/TSMB+F8AxyQlOfTDs+zKFbrpyZVwUZF2vfuu2k+YYNf20Y0bS6o4vhxVv75qtGmjWu3bq3anTi6/neLJtDTOegbgvwEc4cCDxc32mDh/dWzZMrsDOLF3bz1y/rzbrwHPz8zUt4MHy1ZaSgMB+GcAB1epYve2BYcP00kTyD90yP6JGBrq9kcVFh49qiXdunGmPACPMM11wAEhIfZtaBgquXCBTppAcUGB1+zr5Zwcfdm3r1c95QgAK2DA61WqXl23b9qk83v3Kic9XWfS05WTnq7c/ftd/phEACCA4ddCoqMV17Gj4jp2/Mf3is6f1+lt2/7xdWbbNl05d45iASCAAVcKjY1V3ZtuUt2bbvrH9woOH1bW+vXKSktT1tq1unDyJIUCQAADrhZZv74i69f/x92+8g8dUlZamo4sXaoTq1ZxCRwAAhhwh6gGDRTVoIGaDR+u0kuXdHz5ch3+6isd/eYbFeXmUiAABDDgakHh4WowcKAaDBwow2ZT9ubNyly8WPvnz+fYMYD/l5USAM5hsVoV17Gjurz1loYdO6abFixQQo8eksVCcQAQwIC7VsaN77xTg1at0vCsLHV67TWHH9sIgAAG8AeEx8Wp9dNP6/6DB9Vr9mzFNmtGUQAQwIC7BISEKPmBB3TPrl0a8P33Dj+CEwABDOCPsFhU58YbNXDFCt2TkaGke+91ySMWARDAAP6D2GbNdONHH+mOzZv/5eYfAHwflyHBNNJGjlTewYMKCg+XNTi44glJYWGyBgUpKCJC1oAAhURHKzQ6uuLPmJh/+Xtw5cpe+95rtGmj/suW6eSaNdrw1FPKSU9nQgAEMOAep7dt05mffrJ7e2tQkCpVr67KCQmqVKOGIhISFF6zpiLi4xVes6Yi69dXlbp1ZQ0077RP6N5dd27bpgMLFmjDU0/pUnY2EwMggAFzs5WW6uKpU//vIwYDgoMV2aCBYho3VnTjxopq1EixycmqmpKiwLAwU7wPi9WqJkOHqt4tt2jjs88qY+ZMGTYbDQYIYMB7lZeUKHfvXuXu3fuvq+fAQMUmJ6t669aqcfWravPmCggO9ti+hkRGqvs77yjp3nu18sEH/88+AyCAAe9fPZeV6ezOnTq7c6f2fPBBxUo0IEDVWrRQYs+eSuzZU3GdOikwNNTt+1br+us1dOdObZ80SZtefFG20lIaBvgAzoIG/gOjvFw56en6aeJEfd6rl2bVrKml/ftrzwcf6MrZs+79hxoYqNZPP61Bq1cr8ppraA5AAAP+o7igQIe/+korH3pI79WqpcVdumj75MkqPHrUbftQu3NnDd25Uyl//jP3mAYIYMA/V8en1q/X+vHjNbt+fS3p1k37589XWVGRy187KCJCPd59V/2XLVNYtWo0AyCAHf+BZheLxaMnyuB/BYaEOLS91x7bNAxlrV2r74cO1ay4OKU9/rhy9+93+cvW7dNHd6Wnq2a7dkw+gAC2X8mFC3ZvGx4XRydNILx2bY/NAbMozsvTzr//XXOTk/Xt4MHK2b7dpa9XOSFBg9etq/hIGgABbI+i3Fy7t43v2pVOmkB8ly6OzYHz532mFobNpswlS7SgVSt92bevTm/d6rLXCggJUY9331Wv2bM9cpY2AC8P4LyDB+3e9tqRIzkhxdMsFl07YoTdm18+c0bFBQU+WZpj332nhe3b65tBg1z60XTyAw9oyMaNqlKnDvMRIIB/v/N79ti9bY3WrdXqiSfopge1Gj9e1Vu1sr//u3f7doEMQ4c+/1zzUlK06uGHdTknxyUvU71lS92xdatqXX89kxIggH+fU+vWObR9p9deU5tnnpHFyond7l75tnrySXV67TWHhjmZluYX5bKVlWn3rFn6OClJu2fNkgzD6a9RqUYNDUpLU+M772R+Amb+8enoAFMkp/wECa5SRX8+e9bhM5rPZWTo5+nTdXz5cl08dcr+s6vxnydNQIDCa9VSnd691eLxx1WtRQuHx/ykTRuHHsTgrWp16KCe772n2ORkl6y6t/71r9qcmuqSoAf83VgHM9Q0ASxJ/ZYsUYNBg+iqn8ndv18fJyX57fsPDA1Vx1df1XWjR7vkXIaDixZpxf33q+zKFSabo70KC1OtDh2U0LWrYlNSFJOUpEpXr8UOiYriXBRn/v5os6nk6nkhl7Kzlbt/v87t2qWTaWk6vWWLyktKCGBnBnDdm25S/2XLmHl+ZsNTTyn9jTf8vg6JPXuq95w5inDwcq5fk715s76+9VZdOXeOCWeH2p07K/nBB9Vw0CAFRURQEA8rzs9X5uLF2v3++zq9bRsB7BQWi+5KT1f1665jhvmJK+fO6cNrrvGJa4CdIaxqVfVduFAJPXo4fez8Q4f0Zd++ys/MpNC/U0L37mo/YYLiOnWiGCZ1YtUqbX7pJWVv3ux1AWyuM5YMQ5tffJEZ5Ud+fPVVwvfffiH5/MYb9dPEiU4/bhvVoIHu2LxZcR07UujfEFG7tvotWaJBq1cTviaX2LOnbt+4UX3mzlWl6tW9at/NtQK+6pYvv1T9P/2JmeXjzu3apQWtWslWVkYxfkWDQYPU+8MPFVy5slPHLSsq0or77tPBRYso8q+od/PN6j1njsKqVqUYXuZSdra+HzpUJ9esYQVsr7THHuNYlY8rLy7WimHDCN//x6HPPtPCtm2dfvOOwNBQ9V24UG2efZaThv5Nq/Hj9aelSwlfLxVeq5YGrlih5o884hX7a8oAvpiVpeX33CPDZmNG+ai1o0crJz2dQvyG3P37tbBtWx364gvnDmyxqOPf/qZ+S5Y4fYXtrTq99po6v/kmv5R4OUtAgLrPmKF2L71k+n0NcHSAPlKqK3Ys/9AhlRQWqm6fPswoH7Pjrbe07ZVXKMTv/bSgpESZixcrqFIlpx+/jUlKUv0BA3RyzRq//tSp7QsvqB3nn/iUhG7dVFJYqOwtW1z2GsulCT4ZwJJ0essWWYODVbtzZ2aTj9g3d67WjBjBjSH+KMPQiZUrden0adXt08epd3wLq1pVSffeq/zMTOXu3et3pW14223q8c47rHx9UGKvXspJT3fZmf+OBrDp79u46fnntX78eH5g+4D0N97Q8vvu49CCAzJmztTXt9zi9DPHgytX1s2LFqnz66/LGhjoN/WMatBAvWbPJnx9lMVqVZ+5c037gBKvuHHy9smTtaR7d1365RdmlBcqys3V0v79teGpp/hFygmOff+9FrRs6fzf6q/e1/uu7dtVtXlz3//hHBCgPvPmcQzcx4VER6v3nDmm/CXLa55ckLV2rRa0acOlE17m6LJl+qRtWx3+6iuK4UT5hw5pSbduytmxw+ljV01J0e0bNyr5wQd9uoZN7r5bNdu1YzL5gfiuXdVoyBDz/RLo6ACuuA74t9S+4QZdn5qqhG7dmFkmlb1li7ZOmKBj339PMVwoKDxcfebNU/3+/V0y/vEVK7RmxAgVHD7sc6vf+/btU1TDhkwiP5G7d6/mpqQ49RCYT14H/FtOrV+vz7p316cdOmjf3LkqKypidplAeUmJDn76aUVv2rcnfN2g9NIlfTNokH56/XWXjF+nd2/dk5Ghts8/7/CTysykfv/+hK+fiWnaVPX69WMF7GzBlSsrrnNnxXfpoqopKYpu3FhhVasquEoVZp2LlFy4oKJz55R38KDO7d6tU+vW6dT69Sq++vQSuF/yAw+o+7vvuiwoC44c0aYXXtCBhQu9/lj+gOXLVad3byaNnzn67bf6yokh7FsPYwDgkNo33KBbPv9cobGxLnuNnPR0bXzuOR1fscIraxRWrZoePn3a4Uu5cnbs0M7p05W1bp2K8vJUnJ/PSYbOXB1arQqOjFRY1apK6NZNLUaNcvi52UZ5uWZWr66i3FxTBLCVNgO+49T69fqkXTuXXs9bvVUrDVi+XHf99JMaDh7s1GuS3SGxRw+H9tlWWqq1o0ZpQatW2vPhhyo4ckTFeXmEr5MZNpuK8/KUn5mpjPfe07zmzbXhqadklJfbH+oBAUro3t0075EABnxMweHDWnj99c6/feWvBPHNixbpvv371WLUKIVER3tFfeIcvLFP2uOP6+fp0wlcDwRy+htvaP0TTzg0jplu7EQAAz6o5MIFfTNokDa9+KLLb3wS1bChuk6dquG//KIbP/644geciW9sEdu0qUOfMGTMnMkE86AdU6c6dHtJRz/GJoAB/I4lg6FtL7+sz3v3dstNbAJDQ5V0zz0avH69hh09qs5vvllxna3Jwjiyfn27t901YwbzygTzeufbb9vf/wYNTPNWOAkL8AOhsbHqOWuWGgwY4PbXLjx+XEe/+UYn16zRybS0iuOlHjSisNDuu1+9Hx+vi6dOMaE8rHJCgh48ccKubYteV9DMAAAMLUlEQVQLCjQjKsop+8FZ0AB+t2YPPaQbJk3y2CV6Rnm5cnbsUFZamrK3blXO9u0qPHrUrfswurzc7pOwpgUF8QxrE7AGBWlUSYl9c9Bm09SAAKfsh6MBHEgrAf+x+/33dWLlSvX64AMl9Ojh9te3BASoRuvWqtG69T++V5Sbq5z0dOVs3668AweUd/Cg8jMzdTknxzX74MgZ0ISvKdhKSz3Sf2cjgAE/U3j8uD7r1UvNH3lEnV57zeM3rAmNiVFir15K7NXrX75fXFCg/MxMFR49qou//KJL2dkVX1f/+/KZMyouKHDohzFAAANwL8PQrhkzdPiLL9Rp4kQl3XOP6U6WComM/D+r5V9TdvmyivPzVVxQUPGVn6/Sq49rLCkslK28XOXFxSq7fJm+gwAGYA6XTp/W8vvu066ZM9Vt+nRVb9nS+36IVaqkwEqVFB4XR0PhVbgMCYCyN23Sglat9HmvXjqXkUFBAAIYgDudWLVK81u00LdDhqjw2DEKAhDAANzFsNmUuXix5qakaP24cbpw8iRFAQhgAO5SevGitk+Zotl16+rrW2/V6a1bKQpAAANw54r4yNKlWti+vT7r2VMHPvlEZUVFFAZwEGdBA/idSWzo5OrVOrl6tUJjYtRk6FAlDxumatdeS20AVsAA3KEoN1c/T5um+S1a6IM6dbRuzBjlpKdTGIAABuAuF06c0I6pU7WgdWstbNdO6ZMm6fyePRQG+A18BA3AaU5v26bT27ZpwxNPKDQ2VgnduyuxZ0/VufFGValThwIBBDAAVys6f16Zixcrc/FiyWJRTJMmqtmunWq2a6da7dsrNjlZ1kB+BIEABgDXMQzl7tun3H37tHfOHElSUHi4arRurarNmyu2WTPFJicrNjlZIU56VitAAAPAryi9dElZ69Ypa926f/l+RHy8Yps2VVSjRqqSmKiIhARVSUxUlbp1ValmTVM9Tg4ggAH4jItZWbqYlaXjK1b8n//NGhSkiPh4hdeooZCYGIXFxio0Jqbi63/+OzZWFqtVIZGRFX9GRUkWi0KiomSxWBQSHU2RQQADwB9hKy1V4dGjKjx61O4xxhgGhYQp8FkOAAAEMAAABDAA+B4HPoIOCA6mfiYQEBLikf4TwADggNLLl+3eNjwujgKaQETt2nZvW3LxIgEMAJ5QcuGC3dvGd+lCAU0gvls3+/tfWEgAA4AnFB47Zve2144cKVksFNGDLAEBavHYYx7pPwEMAA7I3bfP7m1rtGmjts8+SxE9qH1qqqq1aGF///fuJYABwBNOb9ni0PYdXn5ZHV99lftYu1lAcLC6vPWW2r7wgkPjZDvYf6eu5h0dYIrEVe0AvEaVevU07MgRh8cpOHxYO6ZN07Fly1R4/LhspaUU19mhGxKiyHr1VO+WW9TiscdUOTHR4TE/SEzUhZMnnbJ/Yx3MUAIYgN+5Kz1d1Vu2pBB+5vTWrVp4/fVOG8/RAOYjaAB+Z/esWRTBD2WYrO8EMAC/s3fOHF08dYpC+JELJ09q/7x5BDAAeFJZUZG2T55MIfzITxMnqry4mAAGAE/7edo0nf35ZwrhB7K3bNGuGTNMt18EMAC/ZCsrU9rjj8soL6cYvtzn0lKtGz1ahs1GAAOAWfzyww9aN24chfBhq4YP1+lt20y5bwQwAL/287Rp2v3++xTCR3u796OPTLt/BDAAv7f6kUd0YOFCCuFD9nz4odaOGWPqfSSAAfg9o7xc3911l7ZMmGCq58XCjl7abFo3ZoxWDhtm+l4SwAAgSYahLamp+n7oUIceWQjPKc7L07e33aYdU6d6xf4SwADwT/YvWKAFrVrp5Jo1FMOLHP32W82/7jod+uILr9lnAhgA/k1+ZqY+69FD3wwapJzt2ymIiWVv2qQv+/bVV/36qfD4ca/adx7GAAC/Ib5LFzV94AE1HDRIQRERFMTDivPzlbl4sfbMnu3RxwvyNCQAcJPAsDDV6tBBCV27KjYlRTFJSapUvbpCoqIojqvCNi9Pl7Kzlbt/v87t2qWTaWk6vWWLyktKPL5vBDAAAF4YwBwDBgDAAwhgAAAIYAAACGAAAEAAAwBAAAMAAAIYAAACGAAAEMAAABDAAACAAAYAgAAGAIAABgAABDAAAAQwAAAggAEAIIABAAABDAAAAQwAAAhgAAAIYAAACGAAAEAAAwBAAAMAAAIYAAACGAAAEMAAABDAAACAAAYAgAAGAIAABgAABDAAAAQwAAAggAEAIIABAAABDAAAAQwAAAhgAAAIYAAACGAAAEAAAwBAAAMAAAIYAAACGAAAEMAAABDAAACAAAYAgAAGAIAABgAABDAAAAQwAAAggAEAIIABAAABDAAAAQwAAAhgAAAIYAAACGAAAEAAAwBAAAMAAAIYAAACGAAAEMAAABDAAACAAAYAgAAGAIAABgAABDAAAAQwAAAggAEAIIABAAABDAAAAQwAAAhgAAAIYAAACGAAAEAAAwBAAAMAAAIYAAACGAAAEMAAABDAAACAAAYAwPcCuIQyAgD8TLEZAvgifQAA+JkLZgjgC/QBAOBPDAIYAAD3sxDAAAB4RKEZAriQPgAA/IlhhgC2SEdpBQDAnzgj+xwOYEM6QCsAAH7G4eyzmmEnAADwJoYZAjhAOkgrAAD+xOKE7HM4gGtKx+SEO4IAAOAlrhRIJzwewEOkckn76AcAwE/sTZVsHg/gq0vx1fQDAOAnnJJ5TglgQ0qjHwAAf2CR1pgmgEuk9ZJKaQsAwMcVh0kbTBPAT0sXDOlH+gIA8HHb/ixdNk0AX12S8zE0AMDXrXHWQFYn7tR8+gIA8GGGIc0zXQCPrbgUiY+hAQC+ass46ZAZV8CSNJf+AAB8lFMzzqkBHCQtEHfFAgD4nuIQaaFpA/gx6bykFfQJAOBjvhsh5Zk2gCXJkN6gTwAAX2KRXnP2mE4P4HEVFyhvoF0AAB8J37Qx0lbTB/BVr9IyAIAvMKS/uSjYXWOK9JOkVrQOAODF4btpnNTRFWO7agUsC8eCAQDe700X5qTrTJZWWaQe9A8A4IWr32XjpJtdNb7VlTsfID0qrgsGAHgZi1QkabQrX8OlATxayrRIk2glAMDLVr8TnXnbSbcHsCTZpJclHaGdAAAvcTDADVfzuDyAx0lXJI2q+IUCAABzL34t0qhRbjh8GuCOd7NcyuwjhUjqTG8BACb28ljpfXe8kNVd76hAeknSD/QWAGDKpa+0ukBKddfrWdz55qZJ8eXSDklVaTUAwCws0mlJLcZIZ9z1mlZ3vsFRUpYhPSzJRrsBACZhs0kPuzN83R7AkjRO+sKQhomTsgAAnmdIun+ctNTdLxzgiXe7XNp5o1TKXbIAAB72zFhphideOMBT73i5tKGPFCGpA/0HAHhg6fvGODeedPXvrJ588wXS05LmMw0AAG42t1B6xpM7YPF0BQzJMkWaaJGeZD4AANxg4hjpWYuHz0WymKUab0lPGxW3/rIwNwAArljzGdLYcdJUM+yMqcJusnSfpeIOJIHMEwCAE5VJGjZWmmuWHTLdanOKNFDSbEmRzBcAgBPkGdID46SvzLRTpvy49+odsxaIe0cDAByz0iLd4+6bbPweVjNWa5SUVVvqJmmCuGsWAOCPK5c0obZ0kxnD17Qr4H82RbpZFRdJJzCfAAC/w3FJj46VvjPzTlrNXsWx0rcFUgOL9IxFKmJeAQD+g0uGNKaS1NDs4esVK+B/Nk2qXyZNs0h9mWcAgH/yraRRY6Uj3rLDXnfNrSFZpkoDDek5SS2ZcwDg19IlvTxW+tLbdtyrb3oxVepULj1tqThOzA08AMA/GIb0bYA0cbT0g7e+CZ8IralSJ5s0VlI/ScHMTQDwSSWGtNQiTRkrbfT2N+NTq8ZpUhWb1N+Q7lHFow5ZFQOAl692Ja22SHOt0pejpEJfeWM+G1CTpGut0p2quJ64pbi9JQB4izJJ6RYpzSYtGCdl+OKb9IsV4kSpcrDUSVIXi9TFkJqp4lnEAADPuygpwyKts0nrQqQfRlZ8z6f57Ue0U6VEm9TIIjWRlGRI9Qwp0lJxD+oq+t8/AQD2K1DFx8YFhlRoqfj7EUn7JB2wSQfGSycpEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA+DX/DVO794WNQIKBAAAAAElFTkSuQmCC\";\n\nissue.viewpoint = viewpoint;\nissue.viewpoint.highlighted_group_id = msg.payload._id;\n// issue.viewpoint.hidden_group_id = msg.payload._id;\n// issue.viewpoint.shown_group_id = msg.payload._id;\n\nvar cookie = flow.get(\"cookie\");\n\nmsg.headers = {\n \"content-type\":\"application/json\",\n \"Cookie\": cookie\n};\n\nmsg.topic = \"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/issues.json\";\n\nmsg.payload = issue;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1634.2454528808594,"y":664.1887054443359,"wires":[["890be618.4ff718"]]},{"id":"890be618.4ff718","type":"http request","z":"f719dea.686f42","name":"","method":"POST","ret":"obj","url":"{{{topic}}}","tls":"","x":1641.6620788574219,"y":712.1085662841797,"wires":[["9e6ec264.d7b38"]]},{"id":"4de4e640.7754c","type":"comment","z":"f719dea.686f42","name":"create issue","info":"","x":1635.8842468261719,"y":571.3439178466797,"wires":[]},{"id":"c276c364.e14c58","type":"http request","z":"f719dea.686f42","name":"","method":"POST","ret":"obj","url":"{{{topic}}}","tls":"","x":1348.2470092773438,"y":782.915153503418,"wires":[[]]},{"id":"d60a2247.e53c08","type":"function","z":"f719dea.686f42","name":"group API call","func":"var cookie = flow.get(\"cookie\");\n\nmsg.headers = {\n \"content-type\":\"application/json\",\n \"Cookie\": cookie\n};\n\nmsg.topic = \"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/groups\";\n\nvar group = {};\ngroup.name = msg.inputs.groupName ;\ngroup.description = msg.inputs.desc;\ngroup.author = global.get(\"username\"); \ngroup.createdAt = Date.now();\ngroup.color = [143,0,0];\ngroup.objects = msg.payload;\n\nmsg.payload = group;\n\nreturn msg;","outputs":1,"noerr":0,"x":1346.9496459960938,"y":728.1063766479492,"wires":[["c276c364.e14c58"]]},{"id":"d9139cbc.7502e","type":"function","z":"f719dea.686f42","name":"shared IDs","func":"function getKeyByValue(object, value) {\n    return Object.keys(object).find(key => object[key] === value);\n}\n\nvar sharedIDs = [];\nIDmap = flow.get(\"IDmap\");\ntry{\n    var test = IDmap.length;\n}catch(error){\n    node.error(\"Missing ID map\", msg);\n    return;\n}\n\nif (IDmap !== undefined) {\n    if (IDmap.subModels !== undefined) {        // if federation\n        for (var i = 0; i < msg.payload.length; i++) {\n            for (var j = 0; j < IDmap.subModels.length; j++) {\n                var key = getKeyByValue(IDmap.subModels[j].idMap, msg.payload[i]);\n                if (key !== undefined) {\n                    sharedIDs.push(msg.payload[i]);\n                    break;\n                }\n            }\n        }\n    } else {\n        for (var i = 0; i < msg.payload.length; i++) {\n            var key = getKeyByValue(IDmap.idMap, msg.payload[i]);\n            sharedIDs.push(msg.payload[i]);\n        }\n    }\n}\n\nmsg.payload = [{\n    \"account\": flow.get(\"teamspace\"),\n    \"model\": flow.get(\"modelID\"),\n    \"shared_ids\": sharedIDs,\n}];\n\nreturn msg;","outputs":1,"noerr":0,"x":1353.0487060546875,"y":669.159782409668,"wires":[["d60a2247.e53c08"]]},{"id":"f15b7e66.eb2438","type":"function","z":"f719dea.686f42","name":"INPUTS","func":"// INPUTS\n\nissueName = \"Issue\";\ndescription = \"from Node-RED\";\n\n\n// ignore the rest\n\nmsg.inputs = {};\nmsg.inputs.issueName = issueName;\nmsg.inputs.desc = description;\n\nreturn msg;","outputs":1,"noerr":0,"x":1632.2569274902344,"y":618.7847137451172,"wires":[["22f5e8cc.81076"]]},{"id":"fdddb6ec.aae2c","type":"comment","z":"f719dea.686f42","name":"create group","info":"","x":1349.7571105957031,"y":568.3682098388672,"wires":[]},{"id":"e0014c6c.059da8","type":"function","z":"f719dea.686f42","name":"INPUTS","func":"// INPUTS\n\ngroupName = \"Group\";\ndescription = \"from Node-RED\";\n\n\n// ignore the rest\n\nmsg.inputs = {};\nmsg.inputs.groupName = groupName;\nmsg.inputs.desc = description;\n\nreturn msg;","outputs":1,"noerr":0,"x":1347.7707824707031,"y":622.7708587646484,"wires":[["d9139cbc.7502e"]]},{"id":"ed9dcbef.528ca8","type":"http request","z":"f719dea.686f42","name":"","method":"PUT","ret":"obj","url":"{{{topic}}}","tls":"","x":1647.3541259765625,"y":1227.354248046875,"wires":[[]]},{"id":"d9c62b5c.d81618","type":"function","z":"f719dea.686f42","name":"change group","func":"var cookie = flow.get(\"cookie\");\n\nmsg.headers = {\n \"content-type\":\"application/json\",\n \"Cookie\": cookie\n};\n\nmsg.topic = \"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/groups/\" + msg.inputs.groupID;\n\nvar group = {};\ngroup.color = msg.inputs.colour;\n\nmsg.payload = group;\n\nreturn msg;","outputs":1,"noerr":0,"x":1643.6041259765625,"y":1171.104248046875,"wires":[["ed9dcbef.528ca8"]]},{"id":"e3c38f55.3b0d48","type":"function","z":"f719dea.686f42","name":"get groups","func":"msg.topic = \"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/groups/revision/master/head\";  // http GET\n\nreturn msg;","outputs":1,"noerr":0,"x":1647.208251953125,"y":931.2708129882812,"wires":[["8077f540.2ece58"]]},{"id":"34ba683b.9ec34","type":"function","z":"f719dea.686f42","name":"INPUTS","func":"// INPUTS\n\ngroupID = \"***\";\ncolour = [0,0,143];\n\n\n// ignore the rest\n\nmsg.inputs = {};\nmsg.inputs.groupID = groupID;\nmsg.inputs.colour = colour;\n\nreturn msg;","outputs":1,"noerr":0,"x":1639.8541259765625,"y":1113.604248046875,"wires":[["d9c62b5c.d81618"]]},{"id":"1a839997.e527c6","type":"comment","z":"f719dea.686f42","name":"edit group","info":"","x":1639.8541259765625,"y":1067.354248046875,"wires":[]},{"id":"8077f540.2ece58","type":"http request","z":"f719dea.686f42","name":"","method":"GET","ret":"obj","url":"{{{topic}}}","tls":"","x":1646.1041259765625,"y":986.1041870117188,"wires":[[]]},{"id":"98a078ca.ac8398","type":"comment","z":"f719dea.686f42","name":"groups","info":"","x":1646.1041259765625,"y":886.1041870117188,"wires":[]},{"id":"1994e266.e8b84e","type":"function","z":"f719dea.686f42","name":"issues call","func":"cookie = flow.get(\"cookie\");\n\nmsg.headers = {\n \"content-type\":\"application/json\",\n \"Cookie\": cookie\n};\n\nmsg.payload = \"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/\" + \"issues.json\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1952.2291259765625,"y":632.3541870117188,"wires":[["52ac1382.91d82c"]]},{"id":"52ac1382.91d82c","type":"http request","z":"f719dea.686f42","name":"","method":"GET","ret":"obj","url":"{{{payload}}}","tls":"","x":1949.7291259765625,"y":692.3541870117188,"wires":[[]]},{"id":"50813b2.a8c09c4","type":"comment","z":"f719dea.686f42","name":"get issues","info":"","x":1949.583251953125,"y":578.0625,"wires":[]},{"id":"1e2ceab5.cab2fd","type":"function","z":"f719dea.686f42","name":"sum","func":"total = 0;\n\nfor (var i=0; i<msg.payload.length; i++){\n    if(msg.payload[i].property === msg.inputs.property){\n        total += msg.payload[i].value;\n    }\n}\n\nmsg.payload = total;\n\nreturn msg;","outputs":1,"noerr":0,"x":2468.4044189453125,"y":184.11904907226562,"wires":[[]]},{"id":"f121d83e.db4b28","type":"function","z":"f719dea.686f42","name":"INPUTS","func":"// INPUTS\n\nproperty = \"Area\";    // which object property to sum, as set in filter\n\n\n// ignore the rest\n\nmsg.inputs = {};\nmsg.inputs.property = property;\n\nreturn msg;","outputs":1,"noerr":0,"x":2465.78173828125,"y":136.21853637695312,"wires":[["1e2ceab5.cab2fd"]]},{"id":"894934aa.d707d","type":"comment","z":"f719dea.686f42","name":"sum","info":"","x":2466.76314968533,"y":89.62588500976562,"wires":[]},{"id":"f6a652ee.56eac8","type":"comment","z":"f719dea.686f42","name":"simple counter","info":"takes filter output, one or multiple revisions\n\nreturns quantities by metadata property","x":2065.547607421875,"y":92.69046020507812,"wires":[]},{"id":"fb18f5c4.377cb","type":"function","z":"f719dea.686f42","name":"format","func":"var data = [];\nvar labels = [];\nvar series = [];\nvar m = {};\n\nfor(var i=0; i<msg.payload.length; i++){\n    var keys = Object.keys(msg.payload[i]);\n    keys.sort();\n    for(var j=0; j<keys.length; j++){\n        labels.push(keys[j]);\n        data.push(msg.payload[i][keys[j]]);\n    }\n}\n\nm.labels = labels;\nm.series = [\"Count\"];\nm.data = [data];\nmsg.payload = [m];\n\nreturn msg;","outputs":"1","noerr":0,"x":2076.287841796875,"y":249.69046020507812,"wires":[["c32d261f.d8d4f"]]},{"id":"8c22e482.056cb","type":"function","z":"f719dea.686f42","name":"count by property","func":"function sort(object){\n    if (typeof object != \"object\" || object instanceof Array) // Not to sort the array\n        return object;\n    var keys = Object.keys(object);\n    keys.sort();\n    var newObject = {};\n    for (var i = 0; i < keys.length; i++){\n        newObject[keys[i]] = sort(object[keys[i]])\n    }\n    return newObject;\n}\n\ncounter = {};\n\nfor(var i=0; i<msg.payload.length; i++){\n    var prop = String(msg.payload[i][msg.inputs.property]);\n    if(counter.hasOwnProperty(prop)){\n        counter[prop] += 1;\n    }else{\n        counter[prop] = 1;\n    }\n}\nsorted = sort(counter);\nmsg.payload = [sorted];\n\nreturn msg;","outputs":1,"noerr":0,"x":2071.0833740234375,"y":199.47616577148438,"wires":[["fb18f5c4.377cb"]]},{"id":"b2900193.41dff8","type":"function","z":"f719dea.686f42","name":"INPUTS","func":"// INPUTS\n\nproperty = \"topic_type\";\n\n\n// ignore the rest\n\nmsg.inputs = {};\nmsg.inputs.property = property;\n\nreturn msg;","outputs":1,"noerr":0,"x":2073.02685546875,"y":145.16964721679688,"wires":[["8c22e482.056cb"]]},{"id":"c32d261f.d8d4f","type":"ui_chart","z":"f719dea.686f42","name":"count by property","group":"7063e980.1768f8","order":2,"width":0,"height":0,"label":"","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2288.976318359375,"y":246.9761962890625,"wires":[[],[]]},{"id":"7063e980.1768f8","type":"ui_group","z":"","name":"Results","tab":"ac741d57.26af6","order":2,"disp":true,"width":"18"},{"id":"d73d915b.3ae9b","type":"ui_group","z":"","name":"Log In","tab":"12682a10.517ed6","order":1,"disp":true,"width":"6"},{"id":"48aae281.a9aa84","type":"ui_group","z":"","name":"Details","tab":"ac741d57.26af6","order":1,"disp":true,"width":"5"},{"id":"ac741d57.26af6","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":2},{"id":"12682a10.517ed6","type":"ui_tab","z":"","name":"Log In","icon":"dashboard","order":1}]