Revisions.json
[{"id":"9cdbf8c0.d240f8","type":"subflow","name":"Details","info":"retrieves model details\n\nrequired input object:\n\n{\n    msg.cookie = flow.get(\"cookie\");\n    msg.teamspace = flow.get(\"teamspace\");\n    msg.revision = flow.get(\"revision\");\n    msg.modelID = flow.get(\"modelID\");\n}","in":[{"x":46.999996185302734,"y":121.99398612976074,"wires":[{"id":"c844bfde.74a3e"}]}],"out":[{"x":805.7522296905518,"y":59.49608039855957,"wires":[{"id":"703263ef.f0a5bc","port":0}]},{"x":805.758638381958,"y":108.24608516693115,"wires":[{"id":"7d8f3609.aae518","port":0}]},{"x":803.1935024261475,"y":155.5203332901001,"wires":[{"id":"f94c4aef.b73f88","port":0}]}],"inputLabels":["flow details"],"outputLabels":["name","teamspace","revision"]},{"id":"7d8f3609.aae518","type":"function","z":"9cdbf8c0.d240f8","name":"teamspace","func":"msg.payload = msg.teamspace;\n\nreturn msg;","outputs":1,"noerr":0,"x":695.758638381958,"y":108.24608516693115,"wires":[[]]},{"id":"c844bfde.74a3e","type":"function","z":"9cdbf8c0.d240f8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":176.99999618530273,"y":121.99398612976074,"wires":[["7d8f3609.aae518","f94c4aef.b73f88","a696912f.340b3"]]},{"id":"f94c4aef.b73f88","type":"function","z":"9cdbf8c0.d240f8","name":"revision","func":"msg.payload = msg.revision;\n\nreturn msg;","outputs":1,"noerr":0,"x":683.1935024261475,"y":155.5203332901001,"wires":[[]]},{"id":"a696912f.340b3","type":"function","z":"9cdbf8c0.d240f8","name":"model settings","func":"msg.headers = {\n    \"content-type\":\"application/json\",\n    \"Cookie\": msg.cookie\n};\n\nmsg.payload = \"https://api1.www.3drepo.io/api/\" + msg.teamspace + \"/\" + msg.modelID + \".json\";\n\nreturn msg;","outputs":1,"noerr":0,"x":339.5087032318115,"y":59.4982533454895,"wires":[["108182c0.12041d"]]},{"id":"108182c0.12041d","type":"http request","z":"9cdbf8c0.d240f8","name":"","method":"GET","ret":"obj","url":"{{{payload}}}","tls":"","x":525.7543926239014,"y":60.68966007232666,"wires":[["703263ef.f0a5bc"]]},{"id":"703263ef.f0a5bc","type":"function","z":"9cdbf8c0.d240f8","name":"name","func":"if(msg.payload.name){\n    msg.name = msg.payload.name;\n}else{\n    msg.name = \"NOT AUTHORISED\";\n}\n\nif(msg.payload.federate === true){\n    msg.type = \"federation: \";\n}else{\n    msg.type = \"model: \";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":675.7522296905518,"y":59.49608039855957,"wires":[[]]},{"id":"c7b066a8.960ca8","type":"tab","label":"Revisions","disabled":false,"info":"Returns quantities of objects by metadata properties in specified revisions. \n\nResults displayed in dashboard."},{"id":"923a318f.17623","type":"inject","z":"c7b066a8.960ca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":119.52381134033203,"y":46.543291091918945,"wires":[["920d534a.d1fe5","54133266.6ee2dc"]]},{"id":"3565092f.6fec06","type":"debug","z":"c7b066a8.960ca8","name":"A","active":true,"console":"false","complete":"payload","x":1359.5030117034912,"y":216.62694549560547,"wires":[]},{"id":"5780fb6c.cbf3a4","type":"debug","z":"c7b066a8.960ca8","name":"B","active":true,"console":"false","complete":"payload","x":1358.8148765563965,"y":257.7381401062012,"wires":[]},{"id":"74ae36a3.32c138","type":"function","z":"c7b066a8.960ca8","name":"API call","func":"filter = flow.get(\"filter\")\ncookie = flow.get(\"cookie\");\nrevision = flow.get(\"revision\");\nvar calls = [];\n\nmsg.headers = {\n    \"content-type\":\"application/json\",\n    \"Cookie\": cookie\n};\n\nfor(var i=0; i<revision.length; i++){\n    for(var prop in filter){\n        calls.push(\"https://api1.www.3drepo.io/api/\" + flow.get(\"teamspace\") + \"/\" + flow.get(\"modelID\") + \"/revision/\" + revision[i] + \"/meta/findObjsWith/\" + prop + \".json\");\n    }\n}\n\nmsg.payload = calls;\n\nreturn msg;","outputs":"1","noerr":0,"x":743.4024543762207,"y":46.07339286804199,"wires":[["379a39.0dd2f5c8"]]},{"id":"379a39.0dd2f5c8","type":"split","z":"c7b066a8.960ca8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":880.8118362426758,"y":45.95047187805176,"wires":[["30067cb0.b2db64"]]},{"id":"30067cb0.b2db64","type":"http request","z":"c7b066a8.960ca8","name":"","method":"GET","ret":"obj","url":"{{{payload}}}","tls":"","x":1033.3640441894531,"y":45.69371795654297,"wires":[["6e35c280.cede6c"]]},{"id":"6e35c280.cede6c","type":"join","z":"c7b066a8.960ca8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","x":1178.181734085083,"y":46.29886054992676,"wires":[["65388fc1.462d8"]]},{"id":"8721df6e.365d7","type":"function","z":"c7b066a8.960ca8","name":"meta","func":"var meta = [];\n\nfor(var i=0; i<msg.payload.length; i++){\n    meta[i] = [];\n    if(msg.payload[i].data != undefined){\n        for(var j=0; j<msg.payload[i].data.length; j++){\n            var obj = msg.payload[i].data[j];\n            meta[i].push(obj.metadata.value);\n        }\n    }\n    var set = new Set(meta[i]);\n    meta[i] = Array.from(set);\n}\n\nvar metaRev = []\nwhile (meta.length > 0){\n    metaRev.push(meta.splice(0, Object.keys(flow.get(\"filter\")).length));\n}\n\nflow.set(\"meta\",metaRev);\nmsg.payload = metaRev;\n\nreturn msg;","outputs":1,"noerr":0,"x":778.164379119873,"y":279.18847036361694,"wires":[["3565092f.6fec06"]]},{"id":"40061589.48de2c","type":"function","z":"c7b066a8.960ca8","name":"count by meta","func":"meta = flow.get(\"meta\");\nfilter = flow.get(\"filter\");\nrevision = flow.get(\"revision\");\nvar counter = {};\n\nvar rev = []\nwhile (msg.payload.length > 0){\n    rev.push(msg.payload.splice(0, Object.keys(filter).length));\n}\n\nfor(var i=0; i<rev.length; i++){\n    counter[revision[i]] = {};\n    for(var j=0; j<rev[i].length; j++){\n        if(rev[i][j] != undefined && rev[i][j].data != undefined){\n            counter[revision[i]][Object.keys(filter)[j]] = {};\n            for(var k=0; k<meta[i][j].length; k++){\n                counter[revision[i]][Object.keys(filter)[j]][meta[i][j][k]] = {};\n                counter[revision[i]][Object.keys(filter)[j]][meta[i][j][k]] = 0;\n            }\n            for(var l=0; l<rev[i][j].data.length; l++){\n                var obj = rev[i][j].data[l];\n                \n                for(var m=0; m<meta[i][j].length; m++){\n                    // node.send({payload:meta[i][j][m]})\n                    if(obj.metadata.value == meta[i][j][m]){\n                        counter[revision[i]][Object.keys(filter)[j]][meta[i][j][m]] += 1;\n                    }\n                }\n            }\n        }\n    }\n}\n\nfunction sort(object){\n    if (typeof object != \"object\" || object instanceof Array) // Not to sort the array\n        return object;\n    var keys = Object.keys(object);\n    keys.sort();\n    var newObject = {};\n    for (var i = 0; i < keys.length; i++){\n        newObject[keys[i]] = sort(object[keys[i]])\n    }\n    return newObject;\n}\nsorted = sort(counter);\n\nflow.set(\"stats\",sorted);\n\nmsg.payload = sorted;\n\nreturn msg;","outputs":1,"noerr":0,"x":810.3865547180176,"y":325.85518503189087,"wires":[["f7997f76.8c723"]]},{"id":"920d534a.d1fe5","type":"function","z":"c7b066a8.960ca8","name":"INPUTS","func":"// *** required fields:\nteamspace = \"***\";     // make sure you have permissions to acces this teamspace\nmodelID = \"***\";   // copy from Sample_Federation's URL  - models only, federations unsupported\nrevision = [\"***\",\"***\",\"***\",\"***\"];      // revisions list in descendig order - models only, federations unsupported\n\nfilter = {          // specify search filters\n    \"IFC%20Type\":[],    // use %20 for empty space\n    \"Width\":[],\n    \"LoadBearing\":[],\n}\n\n// ignore the rest\nflow.set(\"teamspace\", teamspace);\nflow.set(\"modelID\", modelID);\nflow.set(\"revision\", revision);\nflow.set(\"filter\",filter);\n\nreturn msg;","outputs":1,"noerr":0,"x":111.51799583435059,"y":278.5077500343323,"wires":[[]]},{"id":"c071c0de.5bf72","type":"function","z":"c7b066a8.960ca8","name":"format","func":"var series = [];\nvar data = [];\nvar labels = [];\nvar m = {};\n\nfor(var filt in msg.payload){\n    for(var prop in msg.payload[filt]){\n        labels.push(prop);\n    }\n}\n\nfor(var r in flow.get(\"revision\")){\n    data[r] = [];\n    for(var filt in msg.payload){\n        for(var prop in msg.payload[filt]){\n            data[r].push(msg.payload[filt][prop][r]);\n        }\n    }\n}\n\nm.series = flow.get(\"revision\");\nm.data = data;\nm.labels = labels;\n\nmsg.payload = [m];\n\nreturn msg;","outputs":"1","noerr":0,"x":1156.0424842834473,"y":309.0503120422363,"wires":[["5921deaf.35211"]]},{"id":"5921deaf.35211","type":"ui_chart","z":"c7b066a8.960ca8","name":"","group":"6bd9c826.bb4558","order":2,"width":"0","height":"0","label":"all","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1359.3541564941406,"y":301.2361316680908,"wires":[[],[]]},{"id":"4dceedb8.e868b4","type":"debug","z":"c7b066a8.960ca8","name":"","active":true,"console":"false","complete":"false","x":1760.0867729187012,"y":389.40098810195923,"wires":[]},{"id":"126d20c5.1b9aaf","type":"ui_chart","z":"c7b066a8.960ca8","name":"","group":"6bd9c826.bb4558","order":1,"width":"0","height":"0","label":"changed","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1369.0174369812012,"y":347.01045417785645,"wires":[[],[]]},{"id":"7568c76c.4c7fb8","type":"function","z":"c7b066a8.960ca8","name":"diff & format","func":"var series = [];\nvar data = [];\nvar labels = [];\nvar m = {};\n\n\nfor(var filt in msg.payload){\n    for(var prop in msg.payload[filt]){\n        test = msg.payload[filt][prop].reduce(function(a, b){ return (a === b) ? a : false; });\n        if(test === false){\n            labels.push(prop);\n        }\n    }\n}\n\nfor(var r in flow.get(\"revision\")){\n    data[r] = [];\n    for(var filt in msg.payload){\n        for(var prop in msg.payload[filt]){\n            test = msg.payload[filt][prop].reduce(function(a, b){ return (a === b) ? a : false; });\n            if(test === false){\n                data[r].push(msg.payload[filt][prop][r]);\n            }\n        }\n    }\n}\n\nm.series = flow.get(\"revision\");\nm.data = data;\nm.labels = labels;\n\nmsg.payload = [m];\n\nreturn msg;","outputs":1,"noerr":0,"x":1173.0764694213867,"y":350.2118225097656,"wires":[["126d20c5.1b9aaf"]]},{"id":"d6566520.4ff588","type":"ui_text","z":"c7b066a8.960ca8","group":"33e3b4b5.0481bc","order":2,"width":0,"height":0,"name":"","label":"teamspace:  ","format":"{{msg.payload}}","layout":"row-left","x":1377.7521505355835,"y":465.0104374885559,"wires":[]},{"id":"cdc4af1c.1fe0f","type":"ui_text","z":"c7b066a8.960ca8","group":"33e3b4b5.0481bc","order":1,"width":0,"height":0,"name":"model","label":"{{msg.type}}","format":"{{msg.name}}","layout":"row-left","x":1378.9370069503784,"y":411.0346751213074,"wires":[]},{"id":"554da4ca.010efc","type":"subflow:9cdbf8c0.d240f8","z":"c7b066a8.960ca8","name":"","x":1133.379322052002,"y":469.5082321166992,"wires":[["cdc4af1c.1fe0f"],["d6566520.4ff588"],["611b39f1.d21188"]]},{"id":"65388fc1.462d8","type":"function","z":"c7b066a8.960ca8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":638.083309173584,"y":300.1805667877197,"wires":[["8721df6e.365d7","40061589.48de2c"]]},{"id":"c77447a3.09d448","type":"function","z":"c7b066a8.960ca8","name":"flow details","func":"msg.cookie = flow.get(\"cookie\");\nmsg.teamspace = flow.get(\"teamspace\");\nmsg.revision = flow.get(\"revision\");\nmsg.modelID = flow.get(\"modelID\");\n\nreturn msg;","outputs":1,"noerr":0,"x":986.0173797607422,"y":471.01041984558105,"wires":[["554da4ca.010efc"]]},{"id":"611b39f1.d21188","type":"ui_template","z":"c7b066a8.960ca8","group":"33e3b4b5.0481bc","name":"Revisions","order":6,"width":"5","height":"3","format":"<table style=\"width:100%\">\n        <tr ng-repeat=\"x in msg.payload\">\n            <td><b>{{x}}</b></td>\n        </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1371.0174026489258,"y":565.0103769302368,"wires":[[]]},{"id":"96aec7f6.a98de8","type":"ui_text","z":"c7b066a8.960ca8","group":"33e3b4b5.0481bc","order":5,"width":0,"height":0,"name":"","label":"revisions:  ","format":"","layout":"row-left","x":1365.187014579773,"y":512.2846856117249,"wires":[]},{"id":"f7997f76.8c723","type":"function","z":"c7b066a8.960ca8","name":"merge","func":"revision = flow.get(\"revision\"); \nfilter = flow.get(\"filter\");\n\nfunction allProperties(obj,revision,filter){\n    allProp = {};\n    for(var f in filter){\n        allProp[f] = {};\n        for(var i in revision){\n            for(var v in obj[revision[i]][f]){\n                if(allProp[f].hasOwnProperty(v) == false){\n                    allProp[f][v] = [];\n                }\n            }\n        }\n    }\n    return allProp;\n}\n\nfunction merge(allProp, obj){\n    for(var filt in allProp){\n        for(var prop in allProp[filt]){\n            if(obj[filt].hasOwnProperty(prop)){\n                allProp[filt][prop].push(obj[filt][prop])\n            }else{\n                allProp[filt][prop].push(0)\n            }\n        }\n    }\n    return allProp;\n}\n\nallProp = allProperties(msg.payload,revision,filter);\n\nfor(var i in revision){\n    merged = merge(allProp,msg.payload[revision[i]]);\n}\n\nreturn {payload:merged};","outputs":"1","noerr":0,"x":973.0173797607422,"y":326.0104274749756,"wires":[["5780fb6c.cbf3a4","c071c0de.5bf72","7568c76c.4c7fb8"]]},{"id":"ce6ff318.38fc3","type":"http request","z":"c7b066a8.960ca8","name":"","method":"POST","ret":"obj","url":"{{{topic}}}","tls":"","x":445.0173797607422,"y":48.01042175292969,"wires":[["f5a286bd.626a18"]]},{"id":"f5a286bd.626a18","type":"function","z":"c7b066a8.960ca8","name":"cookie","func":"var cookies = msg.responseCookies;\n\nmsg.headers = {\n    \"content-type\":\"application/json\",\n    \"Cookie\": \"connect.sid=\" + cookies[\"connect.sid\"][\"value\"]\n};\n\nflow.set(\"cookie\",msg.headers[\"Cookie\"]);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":589.7951774597168,"y":47.54015064239502,"wires":[["74ae36a3.32c138","c77447a3.09d448","f09e018c.6c1dd"]]},{"id":"54133266.6ee2dc","type":"function","z":"c7b066a8.960ca8","name":"header","func":"msg.payload = {\n    \"username\": global.get(\"username\"),   \n    \"password\": global.get(\"password\")\n};\n\nmsg.topic = \"https://api1.www.3drepo.io/api/login\";\n\nmsg.headers = {\n    'content-type':'application/json'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":293.64418029785156,"y":48.037187576293945,"wires":[["ce6ff318.38fc3"]]},{"id":"f09e018c.6c1dd","type":"function","z":"c7b066a8.960ca8","name":"filter property","func":"msg.payload = Object.keys(flow.get(\"filter\"))\nreturn msg;","outputs":1,"noerr":0,"x":1130.017333984375,"y":630.0103759765625,"wires":[["264a05ae.059b7a"]]},{"id":"264a05ae.059b7a","type":"ui_template","z":"c7b066a8.960ca8","group":"33e3b4b5.0481bc","name":"Properties","order":4,"width":"5","height":"3","format":"<table style=\"width:100%\">\n        <tr ng-repeat=\"x in msg.payload\">\n            <td><b>{{x}}</b></td>\n        </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1366.017349243164,"y":659.0103950500488,"wires":[[]]},{"id":"960c7a31.9bbb58","type":"ui_text","z":"c7b066a8.960ca8","group":"33e3b4b5.0481bc","order":3,"width":0,"height":0,"name":"","label":"properties:  ","format":"","layout":"row-left","x":1380.017333984375,"y":616.0103759765625,"wires":[]},{"id":"6bd9c826.bb4558","type":"ui_group","z":"","name":"Results","tab":"15f18921.e6f237","order":3,"disp":true,"width":"18"},{"id":"33e3b4b5.0481bc","type":"ui_group","z":"","name":"Details","tab":"15f18921.e6f237","order":1,"disp":true,"width":"5"},{"id":"15f18921.e6f237","type":"ui_tab","z":"","name":"Revisions","icon":"dashboard","order":5}]